<section class="banner-header text-center">
    <div class="container">
      <h1 class="main_heading2">Frequently Asked Questions<span></span></h1>
    </div>
  </section>
  <section class="main-content faq-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="inner-heading2">FAQ's for Tourists</h2>
          <div class="faq-box">
            <div class="panel-group" id="Tourists">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist1">Q. Why should I book a private tour guide?</a>
                  </h3>
                </div>
                <div id="Tourist1" class="panel-collapse collapse">
                  <div class="panel-body">Booking a private tour guide offers you customized and unique traveling experiences. With the help of an expert local guide travellers can gain insider access to their destination with customized, unique tours that address their interests and provide a richer travel experience. The possibilities of experiences with expert local guides are limited only by your own imagination.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist2">Q. Can I contact the tour guide directly?</a>
                  </h3>
                </div>
                <div id="Tourist2" class="panel-collapse collapse">
                  <div class="panel-body">For privacy, safety and to ensure both parties are protected, provide you with utmost customer service and adhere to our Terms &amp; Conditions, we request all communications prior to booking to be made via our on-site message system.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist3">Q. Must I register to book a private tour guide?</a>
                  </h3>
                </div>
                <div id="Tourist3" class="panel-collapse collapse">
                  <div class="panel-body">Yes, and it is free! In order to book a tour guide, you will be prompt to either register or sign into your account.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist4">Q. Why must I register to e-mail and/or book a private tour guide?</a>
                  </h3>
                </div>
                <div id="Tourist4" class="panel-collapse collapse">
                  <div class="panel-body">To ensure guides receive serious inquiries from real people, we require users to register.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist5">Q. How do I pay for my booking?</a>
                  </h3>
                </div>
                <div id="Tourist5" class="panel-collapse collapse">
                  <div class="panel-body">You have two options to secure your booking:
                    <ul style="padding-left:20px;">
                      <li>You pay 50% advance online and rest in cash to the tour guide on tour completion</li>
                      <li>You pay 100% payment online</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist6">Q. Is the deposit refundable?</a>
                  </h3>
                </div>
                <div id="Tourist6" class="panel-collapse collapse">
                  <div class="panel-body">Yes, the advance deposit is refundable (Subject to cancellation Policy)</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Tourists" href="#Tourist7">Q. Why should I submit my payment through your system?</a>
                  </h3>
                </div>
                <div id="Tourist7" class="panel-collapse collapse">
                  <div class="panel-body">Our online payment system is more secure than handling the transaction on your own. We invest a lot into ensuring both parties are protected from fraud and illicit behaviors.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2 class="inner-heading2">FAQ's for Guides</h2>
          <div class="faq-box">
            <div class="panel-group" id="Guides">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide1">Q. Why should I register as a private tour guide with Odigos?</a>
                  </h3>
                </div>
                <div id="Guide1" class="panel-collapse collapse">
                  <div class="panel-body">Odigos offers an advanced booking service for qualified, local guides. Guides can leverage our sophisticated website and mobile app to list their tours, license, photos, availability and payment details., SMS booking notification, 100% online booking functions and more - making it easy for guides to generate bookings from travelers around the globe. Best of all there are no set-up or maintenance fees for guides.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide2">Q. How much does it cost to register as a tour guide?</a>
                  </h3>
                </div>
                <div id="Guide2" class="panel-collapse collapse">
                  <div class="panel-body">Registration of your guiding services is free of charge.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide3">Q. Can I register my guiding services to more than one city?</a>
                  </h3>
                </div>
                <div id="Guide3" class="panel-collapse collapse">
                  <div class="panel-body">You can enter in your secondary destination after login to your profile page.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide4">Q. What should I write in my description?</a>
                  </h3>
                </div>
                <div id="Guide4" class="panel-collapse collapse">
                  <div class="panel-body">Your description on your profile page should include details of your guiding style, specialty and qualifications. Your description will help clients have a better understanding of who you are, and what your tours will be like.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide5">Q. How will I know if I have a booking request?</a>
                  </h3>
                </div>
                <div id="Guide5" class="panel-collapse collapse">
                  <div class="panel-body">You will get notification via SMS and the request will be visible in the app also.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide6">Q. How will clients contact me?</a>
                  </h3>
                </div>
                <div id="Guide6" class="panel-collapse collapse">
                  <div class="panel-body">
                    To ensure both parties are protected and adhere to our Terms &amp; Conditions, we request all communications prior to booking to be made via our onsite message system.<br>Clients will contact you through our onsite messaging system. When there is a new message in your onsite inbox, we will send you a notification.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-parent="#Guides" href="#Guide7">Q. Can I choose my own guiding rate?</a>
                  </h3>
                </div>
                <div id="Guide7" class="panel-collapse collapse">
                  <div class="panel-body">Yes. It is up to the individual guide to decide on their guiding rate that is most fitting to their services</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>