<header class="navbar-static-top" [ngClass]="{'sticky': (onScrollApplyHeaderClass && userRegistrationPage) , 
'guide-registration-page':!userRegistrationPage}" role="navigation" id="Home">
    <div class="container">
      <nav class="navbar" id="mainNav">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav dis">
            <span [hidden]="!userRegistrationPage">
              <li><a class="nav-link js-scroll-trigger" *ngIf="changeHeaderColor" href="index.html">Home</a></li>
              <li><a class="nav-link js-scroll-trigger" *ngIf="changeHeaderColor" href="#HowItWorks">How It Works</a></li>
              <li><a class="nav-link js-scroll-trigger" *ngIf="changeHeaderColor" href="#WhyChooseUs">Why Choose Us</a></li>
              <li *ngIf="changeHeaderColor"><a href="#" data-toggle="modal" data-target="#Signup">Sign Up</a></li>
              <li class="last" *ngIf="changeHeaderColor"><a href="#" data-toggle="modal" data-target="#Login">Login</a></li>

              <!-- header perfect for lhome page -->
              <li><a class="nav-link js-scroll-trigger"  *ngIf="!changeHeaderColor" (click)="navigate()">Home</a></li>
              <li><a class="nav-link js-scroll-trigger" *ngIf="!changeHeaderColor"  
                [ngClass]="{'disable': disableLink=='false'}" (click)="navigate('dashboard')">My Tours</a></li>
              <li><a class="nav-link js-scroll-trigger" *ngIf="!changeHeaderColor" href="#HowItWorks">Inbox</a></li>
              <li *ngIf="!changeHeaderColor"><a class="nav-link" href="#"><i class="fa fa-lg fa-bell-o" aria-hidden="true"></i></a></li>
              <li class="dropdown dropdown-icons" *ngIf="!changeHeaderColor">
                <a data-toggle="dropdown" id="dropdownMenu1" href="#">
                  <img class ="user-image" *ngIf="!guideImage" src="../../assets/images/profile-icon.png" 
                  alt="Odigos"> 
                  <img class = "user-image" *ngIf="guideImage" [src]="guideImage">
                  Hi {{guideName}} &nbsp;
                  <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
                </a>
                <div aria-labelledby="dropdownMenu1" class="dropdown-menu">
                  <span class="arrow"></span>
                  <ul class="clearfix">
                    <li><a (click)="navigate('registration/my-profile')"><img src="../../assets/images/person-icon.png" alt="Odigos"> My Profile</a></li>
                    <li><a (click)="navigate('registration/create-package')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/place-icon.png" alt="Odigos">My Places</a></li>
                    <li><a (click)="navigate2('registration/docs')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/doc-icon.png" alt="Odigos">My Documents</a></li>
                    <li><a (click)="navigate('registration/rating-and-earning')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/rating-icon.png" alt="Odigos">Rating & Earnings</a></li>
                    <li><a (click)="navigate('registration/bank')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/bank-icon.png" alt="Odigos">Bank Details</a></li>
                    <li><a href="" (click)="logOut()"><img src="../../assets/images/logout-icon.png" alt="Odigos">Logout</a></li>
                  </ul>
                </div>
              </li>
              
            </span>
            
            <!-- guide dashboard header start -->
            <span [hidden]="userRegistrationPage">
              <li><a class="nav-link js-scroll-trigger" (click)="navigate('home')">Home</a></li>
              <li><a class="nav-link" (click)="navigate('dashboard')" [ngClass]="{'disable': disableLink=='false'}">My Tours</a></li>  
              <li><a class="nav-link" href="#">Inbox</a></li>
              <li><a class="nav-link" href="#"><i class="fa fa-lg fa-bell-o" aria-hidden="true"></i></a></li>
              <li class="dropdown dropdown-icons">
                <a data-toggle="dropdown" id="dropdownMenu1" href="#">
                  <img class ="user-image" *ngIf="!guideImage" src="../../assets/images/profile-icon.png" 
                  alt="Odigos"> 
                  <img class = "user-image" *ngIf="guideImage" [src]="guideImage">
                  Hi {{guideName}} &nbsp;
                  <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
                </a>
                <div aria-labelledby="dropdownMenu1" class="dropdown-menu">
                  <span class="arrow"></span>
                  <ul class="clearfix">
                    <li><a (click)="navigate('registration/my-profile')"><img src="../../assets/images/person-icon.png" alt="Odigos"> My Profile</a></li>
                    <li><a (click)="navigate('registration/create-package')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/place-icon.png" alt="Odigos">My Places</a></li>
                    <li><a (click)="navigate2('registration/docs')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/doc-icon.png" alt="Odigos">My Documents</a></li>
                    <li><a (click)="navigate('registration/rating-and-earning')" [ngClass]="{'disable': disableLink=='fasle'}"><img src="../../assets/images/rating-icon.png" alt="Odigos">Rating & Earnings</a></li>
                    <li><a (click)="navigate('registration/bank')" [ngClass]="{'disable': disableLink=='false'}"><img src="../../assets/images/bank-icon.png" alt="Odigos">Bank Details</a></li>
                    <li><a (click)="logOut()"><img src="../../assets/images/logout-icon.png" alt="Odigos">Logout</a></li>
                  </ul>
                </div>
              </li>
            </span>

            <!-- guide dashboard complexity -->
          </ul>
        </div>
      </nav>
      <div class="logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="index.html">
        <img *ngIf="userRegistrationPage" itemprop="logo" src="../../assets/images/logo.png" alt="Odigos" title="Odigos Logo" class="img-responsive">
        <img *ngIf="!userRegistrationPage" itemprop="logo" src="../../assets/images/inner-logo.png" alt="Odigos" title="Odigos Logo" class="img-responsive"></a>
      </div>
    </div>
  </header>

 <!-- Login Modal -->
<div id="Login" class="modal login-signup fade right">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content text-center">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><img src="../../assets/images/cross-icon.png" alt="X"></a>
          <h3>Login</h3>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Tourist1">I am a Tourist</a></li>
            <li><a data-toggle="tab" href="#ggLoginOtp">I am a Guide</a></li>
          </ul>      
          <div class="tab-content">
            <div id="Tourist1" class="tab-pane fade in active">
              <form>
                <div class="social-login"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#FBlogin" 
                  class="btn facebook social-login"><span><img src="../../assets/images/facebook.png" alt="F">
                  </span>Login</a><a href="#" data-toggle="modal" data-target="#FBlogin" data-dismiss="modal" 
                  class="btn google social-login"><span><img src="../../assets/images/google+.png" alt="g"></span>Login</a></div>
                <h4>Or</h4>
                <p>Login Using Email ID</p>
                <div class="form-box">
                  <div class="form-group text-left">
                    <label>Email-id</label>
                    <input type="email" class="form-control" placeholder="abcde@gmail.com">
                  </div>
                  <div class="form-group text-left">
                    <label>Password</label>
                    <input type="password" class="form-control" id="myInput" maxlength="8" placeholder="* * * * * * * *">
                    <input type="checkbox" class="input-password-checkbox">
                  </div>
                  <button type="submit" class="btn submit button4 text-uppercase">Login</button>
                  <p class="text-right forgot-pass"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#EmailPassword" class="email-pass">Forgot Password ?</a></p>
                  <p>Don't have a account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#Signup" 
                    class="signup-link">Sign Up</a></p>
                  <p><a href="#" style="color:#797979; text-decoration:underline;">SKIP</a></p>
                </div>
              </form>
            </div>

            <!-- login gg -->
            <div id="ggLoginOtp" class="tab-pane fade">
              <form (ngSubmit)="getOtp2(log.value)" class="loginValidation" #log="ngForm" *ngIf="!openOtpForm">
                <div class="form-box">
                  <div class="form-group text-left">
                    <label>Enter Mobile Number</label>
                    <input type="text"  class="form-control" placeholder="Phone number" required [(ngModel)]="phoneNum" name="mobile"
                    [ngClass]= "{'validate': !mobile.pristine && (mobile.hasError('minlength') || 
                    mobile.hasError('required') || mobile.hasError('pattern'))}" pattern="[0-9]*" minlength="10" maxlength="10" 
                    #mobile="ngModel" autocomplete="off">
                      <div [hidden]="mobile.valid || mobile.pristine"
                        class="alert alert-danger">
                        <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10 digit</div>
                        <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                        <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
                      </div>
                  </div>
                  <button type="submit" class="btn button4 text-uppercase" [disabled]="!log.form.valid">Get Otp</button>
                </div>
              </form>

              <!-- verify otp -->
              <form (ngSubmit)="verifyOtp(otpForm.value)" class="otpValidation" #otpForm ="ngForm" *ngIf="openOtpForm">
                  <div  class="form-box otp">
                    <div class="form-group text-left">
                      <label>Enter Otp</label>
                      <input type="text" placeholder="111111" name ="otpValue" class="form-control" [(ngModel)]="otp_value"
                      pattern="[0-9]*" minlength="5" maxlength="5" required #otpValue="ngModel" autocomplete="off">
                      <div [hidden]="otpValue.valid || otpValue.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!otpValue.hasError('minlength')">Otp should be 5 digit</div>
                          <div [hidden]="!otpValue.hasError('required')">Otp is required</div>
                          <div [hidden]="!otpValue.hasError('pattern')">Otp should be only numbers</div>
                        </div>
                    </div>
                    <p class="text-right resend-link"><a href="#" (click)="resendOtp()">Resend</a></p>
                    <a id="openModalButton" [hidden]="true" data-dismiss="modal" data-target="#myModal">
                      Closing Modal</a>
                    <button type="submit" class="btn button4 text-uppercase" 
                    [disabled]="!otpForm.form.valid">Submit My otp</button>                  
                  </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup Modal -->
<div id="Signup" class="modal login-signup fade right">
    <div class="modal-dialog text-center">
      <!-- Modal content-->
      <div class="modal-content text-center">
        <div class="modal-header">
          <a class="close" data-dismiss="modal"><img src="../../assets/images/cross-icon.png" alt="X"></a>
          <h3>Sign Up</h3>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Tourist2">I am a Tourist</a></li>
            <li><a data-toggle="tab" href="#ggGetOtp">I am a Guide</a></li>
          </ul>      
          <div class="tab-content">
            <div id="Tourist2" class="tab-pane fade in active">
              <form action="" method="post">
                <div class="social-login"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#FBlogin" 
                  class="btn facebook social-login"><span><img src="../../assets/images/facebook.png" alt="F"></span>Login</a><a href="#" data-toggle="modal" data-target="#FBlogin" data-dismiss="modal" class="btn google social-login"><span><img src="../../assets/images/google+.png" alt="g"></span>Login</a></div>
                <h4>Or</h4>
                <p>Create Account</p>
                <div class="form-box">
                  <div class="form-group text-left">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Abcde Fghij">
                  </div>
                  <div class="form-group small-box text-left">
                    <label>Country</label>
                    <select class="form-control">
                      <option selected>Select Country</option>
                      <option>India</option>
                      <option>China</option>
                      <option>United State</option>
                      <option>England</option>
                      <option>Australia</option>
                    </select>
                  </div>
                  <div class="form-group small-box pull-right text-left">
                    <label>Currency</label>
                    <select class="form-control">
                      <option selected>INR</option>
                      <option>USD</option>
                      <option>AED</option>
                      <option>GBP</option>
                    </select>
                  </div>
                  <div class="form-group text-left">
                    <label>Email-id</label>
                    <input type="email" class="form-control" placeholder="abcde@gmail.com">
                  </div>
                  <div class="form-group text-left">
                    <label>Password</label>
                    <input type="password" class="form-control" id="myInput2" maxlength="8" placeholder="* * * * * * * *">
                    <input type="checkbox" class="input-password-checkbox">
                  </div>
                  <button type="submit" class="btn submit button4 text-uppercase">Sign Up</button>
                  <p>Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#Login" 
                    class="login-link">Login</a></p>
                  <p><a href="#" style="color:#797979; text-decoration:underline;">SKIP</a></p>
                </div>
              </form>
            </div>

            <!-- sign up flow of gg -->
            <div id="ggGetOtp" class="tab-pane fade">
              <form (ngSubmit)="getOtp(log.value)" #log="ngForm" *ngIf="!signUpOtpForm">
                <div class="form-box">
                  <div class="form-group text-left">
                    <label>Enter Mobile Number</label>
                    <input type="text"  placeholder="Phone number" required [(ngModel)]="phoneNum" name="mobile"
                    pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" class="form-control" autocomplete="off">
                    <div [hidden]="mobile.valid || mobile.pristine"
                    class="alert alert-danger">
                      <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10 digit</div>
                      <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                      <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>
                  </div>
                  <button type="submit" class="btn button4 text-uppercase" data-toggle="modal" [disabled]="!log.form.valid">
                    Get Otp</button>
                </div>
              </form>
              <form (ngSubmit)="verifyOtp(otpForm.value)" #otpForm ="ngForm" *ngIf="signUpOtpForm">
                <div class="form-box">
                    <div class="form-group text-left">
                      <label>Enter Otp</label>
                      <input type="text" placeholder="111111" name ="otpValue" class="form-control" [(ngModel)]="otp_value"
                      pattern="[0-9]*" minlength="5" maxlength="5" required #otpValue="ngModel" autocomplete="off">
                      <div [hidden]="otpValue.valid || otpValue.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!otpValue.hasError('minlength')">Otp should be 5 digit</div>
                          <div [hidden]="!otpValue.hasError('required')">Otp is required</div>
                          <div [hidden]="!otpValue.hasError('pattern')">Otp should be only numbers</div>
                        </div>
                    </div>
                    <p class="text-right resend-link"><a href="#" (click)="resendOtp()">Resend</a></p>
                    <button id="openModalButton" [hidden]="true" data-dismiss="modal" data-target="#myModal">
                        Closing Modal</button>
                    <button type="submit" class="btn button4 text-uppercase" 
                     [disabled]="!otpForm.form.valid">Submit</button>                  
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  