
<footer>
  <div class="container pt-5">
    <div class="footer-box footer-logo" itemscope itemtype="http://schema.org/Organization">
      <a itemprop="url" href="index.html"><img itemprop="logo" 
      src="../../assets/images/logo.png" title="Odigos Logo" alt="Odigos" class="img-responsive">
      </a>
    </div>
    <div class="footer-box footer-links">
      <a (click) = "changeRoute('terms-for-tourist')">Terms for Tourist</a>
      <a (click) = "changeRoute('terms-for-guide')">Terms for Guide</a>
    </div>
    <div class="footer-box footer-links">
      <a (click) = "changeRoute('cancellation-policy')">Cancellation Policy</a>
      <a (click) = "changeRoute('privacy-policy')">Privacy Policy</a>
    </div>
    <div class="footer-box footer-links">
      <a (click) = "changeRoute('faq')">FAQ's</a>
      <a href = "/odigosguides/blog">Blog</a>
    </div>
    <div class="footer-box footer-social">
      <a href="https://www.facebook.com/OdigosApp/" target="_blank" class="facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/Odigos_App" target="_blank" class="twitter" rel="nofollow">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/Odigos_app/" target="_blank" class="instagram" rel="nofollow">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="copyright wow slideInLeft">Copyright &copy; 2018 Birdres Technologies Pvt. Ltd. All rights reserved.</div>
    </div>
</footer>
  