/*----- common css -----*/
.uploadPhotoWrap {
    border: 1px solid #979797;
    padding: 25px 15px;
   text-align: center;
    margin-bottom: 25px;
}
.ggHeading-wrap .main_heading {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    padding-bottom: 15px;
    margin-top: 0;
    letter-spacing: 1px;
}
.ggHeading-wrap .main_heading span {
    width: 150px;
}
.radio-btn input[type="text"] {
    margin-left: 35px;
    width: calc(100% - 35px);
 }
/*----- common css -----*/

/* Added */
.ggForm .form-group {
    margin-bottom: 25px;
                text-align:left;
}
.ggForm .form-group label {
    font-size: 14px;
    color: #797979;
    font-weight: 300;
    display: block;
    line-height: normal;
}
.ggForm .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: auto;
    border: none;
    padding: 2px 0px 6px;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
.ggForm select.form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/images/select-arrow.png) no-repeat right center !important;
}
.selectCombo-wrap {
    display: block;
}
.select-combo {
    width: 120px;
    display: inline-block;
}
.select-combo select.form-control {
    display: inline-block;
    width: 45%;
}
.select-combo span {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    color: #333333;
    padding-left: 5px;
}
.ggForm textarea.form-control {
    border-radius: 5px;
    border: solid 1px #edecec;
    min-height: 95px;
    padding: 5px 10px;
}
.btn-submit {
                font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
                letter-spacing: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.btn-submit:focus {
    color: #18afc4;
    background: #ffffff;
} 
 .radio-wrap {                                                                                                                                                                                                     
    display: inline-block;
    position: relative;
    padding: 0 25px 0 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
                background: transparent;
    border: none;
    box-shadow: none;
}
.ggForm .radio-btn label {
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;  
}
.radio-wrap [type="radio"] {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #b4b3b4;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.checkmark i {
    width: 10px;
    height: 10px;
    background: #18afc4;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
/* On mouse-over, add a grey background color */

.radio-wrap input:checked ~ .checkmark {
    border-color: #18afc4;
}
/* When the radio button is checked, add a blue background */

.radio-wrap input:checked ~ .checkmark i {
    background-color: #18afc4;
    display: block;
}
.radio-info{
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #797979;
    padding: 0 0 0 35px;
}
/* Added */

.main-heading{
    font-size: 19px;
    padding-bottom: 10px;
    margin-top: 0;
    letter-spacing: 1px;
    color: #333333;
    font-weight: 500;
    line-height: 1.3;
    padding-top: 15px;
    font-family: HelveticaNeue-Medium;
}
.innerBox {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}
.bank-detail-upload{
    border: 1px solid #979797;
    padding: 25px 15px;
    background-color: #ffffff;
}
.innerBox .main-heading {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    padding-bottom: 10px;
    margin-top: 0;
    letter-spacing: 1px;
}
.main-heading span {
                left: 50%;
                bottom: 0;
                height: 10px;
    width: 150px;
                position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
                background: url("../../assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
/* form css */
.bank-detail-upload .form-group {
    margin-bottom: 25px;
}
.bank-detail-upload .form-group label {
    font-size: 14px;
    color: #797979;
    font-weight: 300;
    display: block;
    line-height: normal;
}
.bank-detail-upload .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: auto;
    border: none;
    padding: 2px 0px 6px;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
ng-select::ng-deep > div {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: auto;
    border: none;
    padding: 2px 0px 6px;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
ng-select{
    margin-top: -10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.bank-detail-upload .btn-submit {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
}
.bank-detail-upload .btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.bank-detail-upload .btn-submit:focus {
    color: #ffffff;
}

/* validation css */
.alert::before{
    content: "A";
    position: absolute;
    bottom: 100%;
    left: 10px;
    top: -10px;
    font-size: 1px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;

}

.alert.alert-danger::before{
    border-color: transparent transparent #F0F0F0 transparent;
}
.alert.alert-danger{
    /* background: red; */
    background:  #F0F0F0;
}
.alert{
    font-size: 12px;
    padding: 5px 17px;
    position: absolute;
    color:rgb(255,97,97);
    top:73%;
    text-align: left;
    border:none;
    z-index: 10;
    text-shadow: none;
}
.gstNum .alert{
    font-size: 12px;
    padding: 5px 17px;
    position: absolute;
    color:rgb(255,97,97);
    top:73%;
    margin-left: 25px;
    border:none;
    z-index: 10;
    text-shadow: none;
}
.form-group .validate{
    border-bottom:1px solid rgb(255,97,97);
  }

@media(max-width: 1020px){
    #guideBankDetail .innerBox {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .radio-wrap {
        font-size: 13px;
        padding: 0 5px 0 25px;
    }
    .checkmark {
        top: 1px;
        width: 17px;
        height: 17px;
    }
    .checkmark i {
        width: 7px;
        height: 7px;
    }
    .radio-info {
        padding: 0 0 0 25px;
    }
    .ggForm .radio-btn label {
        font-size: 14px;
    }
    .radio-btn input[type="text"] {
        margin-left: 25px;
        width: calc(100% - 25px);
    }
}
