<section id="bank-detail">
    <div class="innerBox">
      <div class="bank-detail-upload">
        <div class="row">
          <div class="ggHeading-wrap text-center">
            <h2 class="main_heading ">Bank Details<span></span></h2>
          </div>
        </div>
        <form (ngSubmit)="onSubmit(bankDetail.value)" #bankDetail="ngForm" class="bank-detail-form ggForm">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label>Bank Name</label>
                <select class="form-control" (change) = "onSelectedBank($event.target.value)">
                  <option> Select </option>{{bank.bId}}
                  <option *ngFor = "let bName of myOptions" value={{bName.value}} [selected]="bName.value==bank.bId">{{bName.label}}</option>
                </select>
                <!-- <ng-select *ngIf="myOptions.length>1"
                  [options]="myOptions"
                  [(ngModel)]="c"
                  name="c"
                  (selected)="onSelectedBank($event)">
                </ng-select> -->
                
              </div>
            </div>  
          </div>
  
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label>Account Number</label>
                <input type=text pattern="[0-9]*" [ngClass]= "{'validate': !anum.pristine && (anum.hasError('minlength') || 
                anum.hasError('required') || anum.hasError('pattern'))}" [(ngModel)]="bank.anum" name="anum" class="form-control" 
                 minlength="11" maxlength="20" #anum="ngModel" required>
                 <div [hidden]="anum.valid || anum.pristine" class="alert alert-danger">
                  <div [hidden]="!anum.hasError('minlength')">Acc number should be more than 10 alphabet</div>
                  <div [hidden]="!anum.hasError('required')">Acc number is required</div>
                  <div [hidden]="!anum.hasError('pattern')">Acc number should be only numbers</div>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="form-group">
                  <label>Confirm Account Number</label>
                  <input type=text pattern="[0-9]*" [ngClass]= "{'validate': !canum.pristine && (canum.hasError('minlength') || 
                  canum.hasError('required') || canum.hasError('pattern'))}" [(ngModel)]="bank.canum" name="canum" class="form-control" 
                   minlength="11" maxlength="20" #canum="ngModel" required>
                  <div [hidden]="canum.valid || canum.pristine" class="alert alert-danger">
                    <div [hidden]="!canum.hasError('minlength')">Acc number should be more than 10 alphabet</div>
                    <div [hidden]="!canum.hasError('required')">Acc number is required</div>
                    <div [hidden]="!canum.hasError('pattern')">Acc number should be only numbers</div>
                  </div>
                </div>
              </div>
          </div>
  
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label>IFSC Code</label>
                <input type=text [ngClass]= "{'validate': !ifsc.pristine && (ifsc.hasError('minlength') || 
                ifsc.hasError('required') || ifsc.hasError('pattern'))}" [(ngModel)]="bank.ifsc" name="ifsc" class="form-control" 
                 minlength="11" maxlength="11" #ifsc="ngModel" required>
                <div [hidden]="ifsc.valid || ifsc.pristine" class="alert alert-danger">
                  <div [hidden]="!ifsc.hasError('minlength')">Ifsc should be more than 10 alphabet</div>
                  <div [hidden]="!ifsc.hasError('required')">Ifsc is required</div>
                </div>
              </div>
            </div><div class="col-sm-2"></div>
            <div class="col-sm-5">
              <div class="form-group">
                <label>PAN Card</label>
                <input type=text [ngClass]= "{'validate': !pan.pristine && (pan.hasError('minlength') || 
                pan.hasError('required') || pan.hasError('pattern'))}" [(ngModel)]="bank.pan" name="pan" class="form-control" 
                 minlength="10" maxlength="10" #pan="ngModel" required>
                <div [hidden]="pan.valid || pan.pristine" class="alert alert-danger">
                  <div [hidden]="!pan.hasError('minlength')">Pan should be more than 10 alphabet</div>
                  <div [hidden]="!pan.hasError('required')">Pan is required</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group radio-btn">
                <!-- <label class="radio-wrap">
                  Yes, I don't have GST Number
                  <input type="radio" value ="dontHaveGst" (change)="gstCheck($event.target.value)" name="gstRadio" class="gst-radio" 
                    [checked]="bank.gst==''">
                  <span class="checkmark"><i></i></span>
                </label> -->
                <label class = "radio-wrap">Yes, I have GST Number
                  <input type="radio" name="radio" value ="haveGst" (change)="gstCheck($event.target.value)" class="gst-radio" [checked]="bank.gst!=''">
                  <span class="checkmark"><i></i></span>
                </label>
                <span *ngIf="haveGst" class="gstNum">
                  <input type=text autofocus [ngClass]= "{'validate': !gst.pristine && (gst.hasError('minlength') || 
                  gst.hasError('required') || gst.hasError('pattern'))}"  [(ngModel)]="bank.gst" name="gst" class="form-control"
                  minlength="15" maxlength="18" #gst="ngModel">
                  <div [hidden]="gst.valid || gst.pristine" class="alert alert-danger">
                    <div [hidden]="!gst.hasError('minlength')">Gst should be more than 14 alphabet</div>
                  </div>
                </span>
              </div>
            </div><div class="col-sm-2"></div>
            <div class="col-sm-5">
              <div class="form-group">
                <!-- <label class="radio-wrap">
                  No, I don't have GST Number
                  <input type="radio" value ="dontHaveGst" (change)="gstCheck($event.target.value)" name="gstRadio" class="gst-radio"  [checked]="bank.gst==''">
                  <span class="checkmark"><i></i></span>
                </label><p class="radio-info">(My income is below 20 lakh)</p> -->
                <label class="radio-wrap">No, I don't have GST Number
                  <input type="radio" value ="dontHaveGst" (change)="gstCheck($event.target.value)" name="radio" class="gst-radio"  [checked]="bank.gst==''">
                  <span class="checkmark"><i></i></span>
                </label><p class="radio-info">(My income is below 20 lakh)</p>
              </div>
            </div>
          </div>
  
          <div class="row">
            <button type="submit" [disabled]="!bankDetail.form.valid" class="btn btn-submit">Save</button>
          </div>
  
        </form>
      </div>
    </div>
  </section>