<div id="wrapper"> 
  <!-- Page content -->
  <div id="page-content-wrapper"> 
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <section class="my-trips">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#PendingTrips">Request <span>Trips</span></a></li>
            <li><a data-toggle="tab" href="#UpcomingTrips">Upcoming <span>Trips</span></a></li>
            <li><a data-toggle="tab" href="#PastTrips">Past <span>Trips</span></a></li>
            <li><a data-toggle="tab" href="#CancelledTrips">Cancelled <span>Trips</span></a></li>
          </ul>
          <div class="tab-content">
            <div id="PendingTrips" class="main-listing tab-pane fade in active">
              <app-pending-trips></app-pending-trips>
            </div>
            <div id="UpcomingTrips" class="main-listing tab-pane fade">
              <app-upcoming-trip></app-upcoming-trip>
              <!-- <div class="bread-crumb">
                <p>My Trips &nbsp; > &nbsp; <a href="#">Upcoming Trips</a></p>
                <p>Showing 1 - 4 of 50 Result</p>
              </div>
              <div class="no-trips">
                <p><img src="../../assets/images/no-trips.png" alt="No Trips" class="img-responsive"></p>
                <p class="no-trips-content">Say yes to new adventures!</p>
                <p><a href="#" class="btn button1 text-uppercase">Hire A Guide</a></p>
              </div> -->
            </div>
            <div id="PastTrips" class="main-listing tab-pane fade">
              <app-past-trips></app-past-trips>
              <!-- <div class="bread-crumb">
                <p>My Trips &nbsp; > &nbsp; <a href="#">Past Trips</a></p>
                <p>Showing 1 - 4 of 50 Result</p>
              </div>
              <div class="no-trips">
                <p><img src="../../assets/images/no-trips.png" alt="No Trips" class="img-responsive"></p>
                <p class="no-trips-content">Explore the unseen!</p>
                <p><a href="#" class="btn button1 text-uppercase">Hire A Guide</a></p>
              </div> -->
            </div>
            <div id="CancelledTrips" class="main-listing tab-pane fade">
              <app-cancelled-trips></app-cancelled-trips>
              <!-- <div class="bread-crumb">
                <p>My Trips &nbsp; > &nbsp; <a href="#">Cancelled Trips</a></p>
                <p>Showing 1 - 4 of 50 Result</p>
              </div>              
              <div class="no-trips">
                <p><img src="../../assets/images/no-trips.png" alt="No Trips" class="img-responsive"></p>
                <p class="no-trips-content">In not now, when?</p>
                <p><a href="#" class="btn button1 text-uppercase">Hire A Guide</a></p>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /page-content inset --> 
  </div>
  <!-- /page-content-wrapper --> 
</div>