<div class="tab-content guideinnerWrap">
  <section class="gg-topWrap upload-documentWrap" id="uploadDocumentWrap"> 
    <div class="container innerBox"> 
      <div class="ggHeading-wrap text-center">
        <h2 class="main_heading ">Upload Documents<span></span></h2>
      </div> 
      <!-- looping start -->
      <div class="accordion-wrap panel-group" id="uploadDocumentAccordion">
        <div class="panel panel-default panel1" *ngFor="let item of documentList;let i = index">
          <div class="panel-heading" [ngClass]=
          "{'active': selectRow === i , 'active-img':selectActive === i}">
            <h4 class="panel-title">                                                
              <a data-toggle="collapse" id="fo" (click)="selectedRow(i , item.doc_id , item.list_web[0])" data-parent="#uploadDocumentAccordion" 
              href="{{'#'+item.name_key}}">                      
                <span>{{item.name}}</span>
              </a>
            </h4>
          </div>
          <!-- will start popup  -->
          <div id="{{item.name_key}}" class="panel-collapse collapse radio-tabs">
            <h3 class="upload-accordionHead">Please upload a copy of one of the following as Proof of {{item.name}}:</h3>
            <ul class="nav-tabs nav document-type">
              <li *ngFor="let type of item.list_web; let z=index" 
              [ngClass]='{"active":imagePreview[i].type == type || (z==0 && imagePreview[i].type=="")}'>
                <a href="#aadharTab1" (click)="checkDocType(type)" data-toggle="tab">{{type}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <!-- address proof aadhar -->
              <div id="aadharTab1" class="tab-pane fade in active">
                <div class="row">

                  <div class="col-xs-6 front-view view-wrap upload-box">
                    <p>Front View</p>
                    <form action="" method="post">

                      <div class="form-group">
                        <!-- <div *ngIf="imagePreview[i].urlF==''"  class="profile-picture" 
                        [ngStyle]="{'background-image': 'url(../../assets/images/image-icon-group.png)'}">
                        </div>
                        <div *ngIf="imagePreview[i].urlF!=''"  class="profile-picture" 
                        [ngStyle]="{'background-image': 'url('+imagePreview[i].urlF+')'}">
                        </div> -->
                        <!-- image crooper start -->
                        <img *ngIf="imagePreview[i].urlF==''" style="max-width: 200px;" src="../../assets/images/image-icon-group.png" class="img-responsive" alt="">
                        <img *ngIf="imagePreview[i].urlF!=''" style="max-width: 200px;" [src]="imagePreview[i].urlF" width="100%" class="img-responsive" alt="">
                        &nbsp;&nbsp;
                        <div class="frontViewWrap frontViewWrap1">
                          <div class="frontViewUpload">
                            <input type="file" (change)="readImageUrl($event)" class="form-control">
                            <button type="button" class="btn btn-submit">Upload file</button>
                            <p *ngIf = "imagePreview[i].approvedF!='0' && imagePreview[i].approvedF!=''
                             && imagePreview[i].uploadedF!=0">
                              <img src="assets/images/approved-icon.png" />
                            </p>
                            <p *ngIf = "imagePreview[i].approvedF=='0' && imagePreview[i].approvedF!=''
                            && imagePreview[i].uploadedF!='0'">
                              <img src="assets/images/not-approved-icon.png" />
                            </p>
                          </div>
                        </div>
                        <p *ngIf = "imagePreview[i].uploadingF" class="upload-success">File Uploaded Successfully</p>
                      </div>
                      <!-- <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="4 / 3"
                      [resizeToWidth]="128"
                      format="png"
                      (imageCroppedBase64)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()"
                      (loadImageFailed)="loadImageFailed()"
                  ></image-cropper> -->
                    </form>
                  </div>
                  
                  <!-- <div class="col-xs-6 frontViewWrap">
                     <input type="file" (change)="readImageUrl($event)" class="form-control">
                    <button type="button" class="btn btn-submit">Choose file</button> 
                  </div> -->
                  
                  <!-- <div class="clearfix visible-xs-12"></div> -->
                  <div class="col-xs-6 back-view view-wrap upload-box">
                    <p>Back View</p>
                    <form action="" method="post">
                      <div class="form-group">
                          <!-- <div *ngIf="imagePreview[i].urlB==''"  class="profile-picture" 
                          [ngStyle]="{'background-image': 'url(../../assets/images/image-icon-group.png)'}">
                          </div>
                          <div *ngIf="imagePreview[i].urlB!=''"  class="profile-picture" 
                          [ngStyle]="{'background-image': 'url('+imagePreview[i].urlB+')'}">
                          </div> -->
                          <!-- image cropper -->
                          <!-- <image-cropper
                              [imageChangedEvent]="imageChangedEvent"
                              [maintainAspectRatio]="true"
                              [aspectRatio]="4 / 3"
                              [resizeToWidth]="128"
                              format="png"
                              (imageCroppedBase64)="imageCropped($event)"
                              (imageLoaded)="imageLoaded()"
                              (loadImageFailed)="loadImageFailed()"
                          ></image-cropper> -->
                        <img *ngIf = "imagePreview[i].urlB==''" style="max-width: 200px;" class="img-responsive" src="../../assets/images/image-icon-group.png" alt="">
                        <img *ngIf = "imagePreview[i].urlB!=''" style="max-width: 200px;" class="img-responsive" [src]="imagePreview[i].urlB" width="100%" alt="">
                        &nbsp; &nbsp; &nbsp;
                        <div class="frontViewWrap frontViewWrap2">
                          <div class="frontViewUpload">
                            <input type  = "file" (change)="readImageUrlBack($event)" class="form-control">
                            <button type = "button" class ="btn btn-submit">Upload file</button>
                            <p *ngIf = "imagePreview[i].approvedB!='0' && imagePreview[i].approvedB!='' &&
                             imagePreview[i].uploadedB!=0">
                              <img src="assets/images/approved-icon.png" />
                            </p>
                            <p *ngIf = "imagePreview[i].approvedB=='0' && imagePreview[i].approvedB!='' &&
                            imagePreview[i].uploadedB!=0">
                              <img src="assets/images/not-approved-icon.png" />
                            </p>
                          </div>
                        </div>
                        <p *ngIf = "imagePreview[i].uploadingB" class="upload-success">File Uploaded Successfully</p>
                      </div>
                    </form>
                  </div>

                  <!-- <div class="col-sm-3 col-xs-6 frontViewWrap upload-box">
                    <input type="file" (change)="readImageUrlBack($event)" class="form-control">
                    <button type="button" class="btn btn-submit">Choose file</button>                    
                  </div> -->
                  

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MAIN LOOP END HERE -->
        <div class="row last-submitRow">
          <div class="col-xs-12">
           <button type="button" [disabled] = "activeProceed()" class="btn btn-submit" data-toggle="modal" data-target="#ThankYou">Proceed</button>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>


<!-- thank you pop up -->
<!-- <button type = "button" [hiddden]="true" id="openThanku" data-target="modal" data-toggle="#ThankYou"> -->
<div id="ThankYou" class="modal thank-you fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header" style="border:none;">
        <a class="close" data-dismiss="modal" style="opacity:1;">
          <img src="../../assets/images/cross-icon.png" alt="X">
        </a>
      </div>
      <div class="modal-body">
        <h3 class="heading1">Thank You<span></span></h3>
        <p>Thnak you we will notify you when you're approved</p>
        <a (click)="navigate()" data-dismiss="modal" class="btn button3 text-uppercase">ok</a>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
 </div>
<!-- end thank u -->