.upload-accordionHead{
    font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #666666;
  padding-bottom: 10px;
  margin-top: 0;
  border-bottom: 1px solid #d8d8d8;
}
.panel-group .panel {
    margin-bottom: 20px;
}
.accordion-wrap .panel-default > .panel-heading {    
    background-color: #f6f7f7;
    border: none;
    color: #333333;
    padding: 13px 30px;
    border-radius: 0;
    box-shadow: none;
}
.accordion-wrap .panel-default > .panel-heading .panel-title > a {
    display: block;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    text-decoration: none;
    padding: 0 30px 0 60px;
    position: relative;
}
.accordion-wrap .panel-default > .panel-heading .panel-title > a:after {
    position: absolute;
    width:30px;
    height:30px;
    content: "";
    right: 0;
    top: -2px;
    background: url(../../assets/images/plus-icon.png) 0 0px no-repeat;
}
.panel1 .panel-heading .panel-title > a,
.panel2 .panel-heading .panel-title > a {
    background: url(../../assets/images/address-proof.png) 0 0px no-repeat;
}
.panel3 .panel-heading .panel-title > a {
    background: url(../../assets/images/guide-licence-icon.png) 0 0px no-repeat;
}
.accordion-wrap .panel-default > .panel-heading.active {
    background: #18afc4;
}
.accordion-wrap .panel-default > .panel-heading.active-img .panel-title > a:after {
    background: url(../../assets/images/minus-white.png) 0 0px no-repeat;
}


.panel1 .panel-heading.active .panel-title > a,
.panel2 .panel-heading.active .panel-title > a {
    color: #ffffff;
    background: url(../../assets/images/address-proof-active.png) 0 0px no-repeat;
}
.panel3 .panel-heading.active .panel-title > a {
    color: #ffffff;
    background: url(../../assets/images/guide-licence-white.png) 0 0px no-repeat;
}
.accordion-wrap .panel-collapse {
    background-color: #f6f7f7;
    padding: 15px 30px;
}
.radio-tabs .nav-tabs {
    border-bottom: none;
                padding-bottom: 25px;
}
.radio-tabs .nav-tabs > li {
    width: 32%;
}
.radio-tabs .nav-tabs > li > a {
    background: url(../../assets/images/inactive-button.png) 0px 7px no-repeat;
    border-radius: 0px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
                border: none !important;
    text-decoration: none !important;
}
.radio-tabs .nav-tabs > li.active{}
.radio-tabs .nav-tabs > li.active > a {
    border: none;
    background: url(../../assets/images/active-button.png) 0px 7px no-repeat;
    margin-right: 0;
}
.radio-tabs .nav-tabs > li > a:hover {
    border: none;
}
.radio-tabs .tab-pane {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.frontViewWrap {
    display: inline-block;
                float: left;
    padding: 15px 0 0 30px;
}
.view-wrap img {
    display: inline-block;
                float:left; /* added */
}
.frontViewWrap input.form-control {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    border:  none;
}
.frontViewWrap .btn-submit {
    margin: 0 0 0 20px;
    display: block;
    width: 100%;
}
.ggHeading-wrap .main_heading {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    padding-bottom: 15px;
    margin-top: 0;
    letter-spacing: 1px;
}
.ggHeading-wrap .main_heading span {
    width: 150px;
}
.innerBox {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}
.gg-topWrap {
    padding: 15px 0;
}
.guideinnerWrap {
    background: #ffffff;
}
.btn-submit {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.frontViewWrap .btn-submit {
    margin: 20px 0 0px;
    max-width: 200px;
}
.uploaded-image-box {
    min-height: 200px;
}

/* Added */
.view-wrap .form-group > img {
    max-width: 200px;
    max-height:155px;
}
.frontViewUpload {
    position: relative;
}
.frontViewWrap p {
                margin:5px 0 0;
}
p.upload-success {
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    color: #41c95f;
    margin: 10px 0 0;
                float: left;
    width: 100%;
}

.gg-popup.modal.in .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
}
.gg-popup .close {
    float: right;
    font-size: 21px;
    font-weight: normal;
    line-height: 1;
    color: #666666;
    text-shadow: 0 0px 0 transparent;
    filter: alpha(opacity=100);
    opacity: 1;
    position: absolute;
    right: 15px;
    top: 15px;
}
.gg-popup .modalTitle-border {
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
                text-align:center;
                position:relative;
                padding: 0 0 5px;
}
.gg-popup .modalTitle-border:after {
    content:"";
                position:absolute;
                left:0;
                right:0;
                margin:0 auto;
                bottom:0;
                width: 70px;
    height: auto;
    border-bottom: 1px solid #18afc4;
}
.gg-popup .close:hover, 
.gg-popup .close:focus {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
.gg-popup .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 30px 35px;
}
.gg-popup .modal-header {
    padding: 0px;
    border-bottom: none;
}
.gg-popup .modal-body {
    padding: 15px 15px 0;
                  font-size: 18px;
                  font-weight: normal;
                  line-height: 1.33;
                  letter-spacing: normal;
                  text-align: center;
                  color: #333333;
}
.gg-popup .btn-submit {
    max-width: 350px;
                margin-top: 35px;
}
/* Added */

/* mobile view */
@media (max-width:992px) {
                /* added  & replace css within this media query */
    .frontViewWrap {
        display: block;
                                float: none;
                                padding: 0;      
    }
                .view-wrap img {
                                float: none;
                                max-width: 100%;
                }
    .frontViewWrap .btn-submit {
        margin: 20px 0 0px;
       max-width: 200px;
    }
                .frontViewUpload {
                                display: inline-block;
                }
                p.upload-success {
                                margin: 0;
                }
                /* added  & replace css within this media query */
}
@media (max-width:767px){
    .upload-accordionHead {
        font-size: 15px;
    }
    .accordion-wrap .panel-default > .panel-heading {
        padding: 8px 15px;
    }
    .accordion-wrap .panel-default > .panel-heading .panel-title > a {
        font-size: 15px;
        padding: 4px 22px 4px 45px;
    }
    .panel1 .panel-heading .panel-title > a, 
    .panel2 .panel-heading .panel-title > a,
    .panel1 .panel-heading.active .panel-title > a, 
    .panel2 .panel-heading.active .panel-title > a {
        background-size: 31px;
        background-position: 0px 4px;
    }
    .accordion-wrap .panel-default > .panel-heading .panel-title > a:after,
    .accordion-wrap .panel-default > .panel-heading.active .panel-title > a:after {
        background-size: 19px;
        background-position: 0px 5px;
    }
    .accordion-wrap .panel-collapse {
        padding: 15px;
    }
    .radio-tabs .nav-tabs > li {
        width: 33.3%;
    }
    .radio-tabs .nav-tabs > li > a,
    .radio-tabs .nav-tabs > li.active > a {
        padding: 10px 0px 10px 22px;
        font-size: 13px;
        background-size: 17px;
        background-position: 0 9px;
    }
                /* added  & replace */
    .view-wrap .form-group > img {
        display: block;
        max-width: 100%;
        margin: 0;
    }
                /* added  & replace */
    .frontViewWrap {
        display: block;
        padding-bottom: 10px;
    }
    .frontViewWrap .btn-submit {
        margin: 0;
        display: block;
        width: 100%;
        max-width: 200px;
    }
}
@media (max-width:600px) {
    .radio-tabs .nav-tabs.document-type > li > a {
        font-size: 12px;
    }
    .view-wrap .form-group > img {
        height: 110px;
    }
}
@media (max-width:490px) {
    .frontViewWrap .btn-submit {
        font-size: 10px;
        text-align: center;
        padding: 7px 10px;
    }
    /* .upload-box {
        width: 100%;
        float: none;
    } */
    .radio-tabs .nav-tabs.document-type > li {
        width: 100%;
        float: none;
    }
}
.profile-picture {
    height: 156px;
    /* background-size: cover; */
    /* position: absolute; */
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.chooseFileButton{
    margin-left: 15px;
}

/* pop up csss */
.thank-you .modal-dialog {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
   transform: translate(-50%, -50%) !important;
   -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
   -moz-transform: translate(-50%, -50%) !important;
   -webkit-transform: translate(-50%, -50%) !important;
}
@media (min-width: 768px) {
    .thank-you .modal-dialog {
        width: 600px;
    }
}
@media (max-width: 767px) {
    .thank-you .modal-dialog {
        width: 60%;
    }
}

@media (max-width: 480px) {
   .thank-you .modal-dialog {
        width: 90%;
    }
} 