
<div class="bread-crumb">
  <p>My Trips &nbsp; > &nbsp; <a href="#">Cancelled Trips</a></p>
  <p>Showing 1 - 4 of 50 Result</p>
</div>
<div class="row">
  <!-- if no trip -->
  <div *ngIf = "noTrip" class="no-trips">
    <p><img src="../../assets/images/no-trips.png" alt="No Trips" class="img-responsive"></p>
    <p class="no-trips-content">Say yes to new adventures!</p>
    <!-- <p><a href="#" class="btn button1 text-uppercase">Waiting..</a></p> -->
  </div>
</div>
      <!-- end if no trip -->
    
<div class="row" *ngIf = "!noTrip" >
  <div *ngFor = "let item of tripDetails; let i = index; "class="col-sm-6">
    <div class="listing clearfix">
      <div class="listing-left">
        <a href="#"><img [src]="item.tourist_image" alt="guide3" class="img-responsive"></a>
        <!-- <span class="guide-fee">$ 120</span> -->
      </div>
      <div class="listing-right">
        <h3><a href="#">{{item.tourist_name}}</a> &nbsp;<span>({{item.language_name}})</span></h3>
        <!-- <a href="#" class="cancel-btn">Cancel</a> -->
        <div class="guide-detail row">
          <div class="col-xs-6 text-left">
            <h4><span>Tour</span>{{item.tour_name}}</h4>
          </div>
          <div class="col-xs-6 text-right">
            <h4><span>Date</span>{{item.date_of_tour}}</h4>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-12">
            <div class="cancelled-trip">{{checkStatusDetail(item.request_status)}}</div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="view-details" (click) = "getTourDetail(item.id, 'REQUESTS', item.booking_id)" 
      [attr.data-target]="'#' + item.id" data-toggle="collapse" data-target="#demo">View Details</div>
    </div>
    <!-- view details -->
    <div class="detail-box collapse" *ngIf =item.hideModal id = {{item.id}}>
      <a class="close detail-close" style="opacity:1;" (click)= "closeViewDetail()"><img src="../../assets/images/cross-icon.png" width="12" alt="X"></a>
      <div class="row">
        <div *ngIf = "tripsDetailPop" class="col-sm-10 col-sm-offset-1">
          <ul class="pending-trips-detail">
            <li><img src="../../assets/images/booking-icon.png" alt="Destination"> Booking Rate<span>{{tripsDetailPop.guide_charges}}</span></li>
            <li><img src="../../assets/images/language-icon.png" alt="Tour Date"> Tour Language<span>{{tripsDetailPop.language_name}}</span></li>
            <li><img src="../../assets/images/country-icon.png" alt="Booking Rate"> Country<span>{{tripsDetailPop.country_name}}</span></li>
            <li><img src="../../assets/images/person-icon.png" alt="Duration"> No. of Persons<span>{{numOfPersons}}</span></li>
            <!-- <li><img src="../../assets/images/status-icon.png" alt="Status"> Status<span style="color:#e89c59;">Pending</span></li> -->
          </ul>
        </div>
      </div>
    </div>
      <!-- view details -->
  </div>  
</div>
<!-- pagination -->
  <div class = "pag text-center">
    <a *ngIf = "true"class="bt button2" (click)="getCancelledTripListing('pre')">
      <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>&nbsp;Previous</a>&nbsp;
    <a *ngIf = "true" class="bt button2" (click)="getCancelledTripListing('next')">
      Next &nbsp;<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
  </div>
<!--pagination end  -->
