.modal-ku {
    width: 750px;
    /* margin: auto; */
  }
@media(max-width: 788px){
    .modal-ku {
        background-color: red;
        max-width: 90%;
        width: 100%;
        margin: 10px auto;
    }
}
.innerBox {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}
.blue-wrap {
    background-color: #18afc4;
    padding: 5px 30px;
}

.blue-wrap h3 {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
    padding: 10px 35px 10px 0;
    background: url(../../assets/images/create-plus-icon.png) no-repeat 100% 8px;
}
.soloPackage-wrap {
    padding: 20px 0;
}

.btn-blue {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    background-color: transparent;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;      
    padding: 7px 40px;
    border: solid 0.5px #b2b2b2;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.active{
    color: #ffffff; 
    border:  none; 
    background-color: #18afc4; 
}

.package-accordion .panel-group .panel {
    margin-bottom: 10px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
.package-accordion .panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
}
.package-accordion .panel-title > a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    text-decoration: none;
}
.package-accordion .panel-title > a:hover {
    color: #333333;
    outline: none;
    text-decoration: none;
}
.package-accordion .panel-collapse {
    background: #fcfbfb;
    border: 0.5px solid #b2b2b2;
    padding: 30px 80px 30px 30px;
    margin-top: 5px;
    position: relative;
}
a.package-deleteIcon {
    position: absolute;
    right: 30px;
    width: auto;
    height: auto;
    top: 5px;
}
.package-accordion .ggForm select.form-control {
}

.package-accordion form p {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin: 0 0 5px;
}

.package-accordion form p.days-selected {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.package-accordion form p.days-avail {
    color: #59c06c;
}
.package-accordion form p.days-unavail{
    color: #eb4b4b;
}
a.btn-selectDays {
    border-radius: 5px;
    border: solid 1px #18afc4;
    width: 11.79%;
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin: 0 15px 20px 0;
    text-decoration: none !important;
}
a.btn-disableDays {
    color: #999999;
    border: solid 1px #e7e6e6;
    background-color: #e7e6e6;
    pointer-events: none;
}
a.btn-activeDays {
    color: #ffffff;
    border-color: #59c06c;
    background-color: #59c06c;

}

@media(max-width: 1020px){
    .innerBox {
        margin: 0 auto;
        max-width: 95%;
        width: 100%;
    }
}
@media(max-width:992px){
    a.btn-selectDays {
        margin: 0 10px 20px 0;
    }
}
@media(max-width: 767px){
    a.btn-selectDays {
        width: 11%;
        padding: 5px 10px;
        font-size: 12px;
    }
    .ggForm .form-control {
        font-size: 14px;
    }
    .btn-submit {
        width: 60%;
    }
    .package-accordion .collapse {
        padding: 30px 15px;
    }
    .package-accordion .panel-title > a {
        font-size: 14px;
    }
    .package-accordion .panel-default > .panel-heading {
        padding: 7px 15px;
    }
    .btn-blue {
        font-size: 14px;
        padding: 6px 25px;
    }
    .blue-wrap {
        padding: 5px 15px;
    }
    .blue-wrap h3 {
        background-size: 22px;
        padding: 10px 25px 10px 0;
        font-size: 16px;
    }
    .ggHeading-wrap .main_heading {
        font-size: 17px;
    }
    .ggHeading-wrap .main_heading span {
        width: 110px;
    }
}

@media (max-width: 475px){
    a.btn-selectDays {
        width: 11%;
        padding: 5px 0px;
        font-size: 12px;
        margin: 0 5px 15px 0;
    }
}
.ggForm .form-group {
    margin-bottom: 25px;
}
.ggForm .form-group label {
    font-size: 14px;
    color: #797979;
    font-weight: 300;
    display: block;
    line-height: normal;
}
.ggForm .form-control {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: auto;
    border: none;
    padding: 2px 0px 6px;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
.ggForm select.form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../../assets/images/select-arrow.png) no-repeat right center !important;
}
.ggForm textarea.form-control {
    border-radius: 5px;
    border: solid 1px #edecec;
    min-height: 95px;
    padding: 5px 10px;
}
.btn-submit {
	font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
	letter-spacing: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.btn-submit:focus {
    color: #18afc4;
    background: #ffffff;
}
.ggHeading-wrap .main_heading {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    padding-bottom: 15px;
    margin-top: 0;
    letter-spacing: 1px;
}
.ggHeading-wrap .main_heading span {
    width: 150px;
}
ng-select::ng-deep > div {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: auto;
    border: none;
    padding: 2px 0px 6px;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
    border-bottom: 1px solid #edecec;
    text-decoration: none !important;
}
ng-select{
    margin-top: -10px;
}
ng-multiselect-dropdown.test{
    margin-top: 12px !important;
}
ng-multiselect-dropdown.test::ng-deep .multiselect-dropdown[_ngcontent-c4] .dropdown-btn[_ngcontent-c4] {
    border: none !important;
    margin-top: -4px;
    padding: 0;
    font-size: 16px;
}
app-ngx-editor::ng-deep .ngx-editor[_ngcontent-c10] .ngx-wrapper[_ngcontent-c10] 
.ngx-editor-textarea[_ngcontent-c10] {
    height: 100px !important;
    z-index: 0 !important;
}
app-ngx-editor::ng-deep .ngx-editor .ngx-wrapper 
.ngx-editor-placeholder{
    z-index: 0 !important;
}
app-ngx-editor::ng-deep .ngx-editor .ngx-wrapper .ngx-editor-textarea{
    min-height: 100px !important;
}

.button2 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    padding: 8px 15px;
    border-radius: 4px;
    background: #18afc4;
    letter-spacing: 0.5px;
    text-decoration: none;
    border: 1px solid #18afc4;
}
@media (max-width: 640px){
    .button2 {
        font-size: 12px;
        padding: 5px 15px;
    }
  }

