<div id="guidePlaces" class="tab-pane fade in active">
  <div class="innerBox"> 
    <div class="ggHeading-wrap text-center">
      <h2 class="main_heading ">My Places<span></span></h2>
    </div>
    <div class="blue-wrap">
      <h3 data-toggle="modal" data-target="#myModal">Create Package</h3>
    </div>
    <div class="soloPackage-wrap">
      <button type="button" class="btn-blue">Solo Package</button>
    </div>

    <div class="package-accordion">
      <div class="panel-group" id="packageAccordionWrap">
        <!-- check -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog modal-ku">

            <div class="panel panel-default package1">
              <div class="modal-header">
                <button type="button" class="close" id="closeButton" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Package</h4>
              </div>
              <div class="modal-body">
                <div class="panel-collapse collapse in" id="packageAccordion1">
                  <form (ngSubmit)="onSubmit(package.value)" #package="ngForm" class="ggForm package-form">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <label>Select City</label>
                          <ng-select *ngIf="myCities.length>1"
                            [options]="myCities"
                            (selected)="onSelectCities($event)">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-5">
                        <div class="form-group">
                          <label>Select Place</label>
                          <span (click)="check()"><ng-select 
                            [options]="placesInsideCities"
                            (selected)="onSelectedInternalPlace($event)">
                          </ng-select></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <label>Language</label>
                          <ng-multiselect-dropdown class="form-control test"
                            [placeholder]="'Select Languages'"
                            [data]="languages"
                            [(ngModel)]="selectedLanguages"
                            name="language"
                            [settings]="dropdownSettings"
                            (onSelect)="onLanguageSelect($event)"
                            (onDeSelect)="onLanguageDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                          >
                        </ng-multiselect-dropdown>
                        </div>
                      </div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-5">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Charge (&#8377;)</label>
                              <input type="text" [(ngModel)]="charges" name = "charges" class="form-control">
                            </div>
                          </div>                            
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Duration (hr)</label>
                              <input type="text"  [(ngModel)]="duration" name = "duration"  class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Itinerary</label>
                          <!-- <textarea class="form-control" placeholder="Type here" autocomplete="off"></textarea> -->
                          <app-ngx-editor [placeholder]="'Enter text here...'" 
                          [spellcheck]="true" [(ngModel)]="htmlContent" name="htmlContent"></app-ngx-editor>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Select Days</label>                                
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.mon,'btn-activeDays':act.mon}" (click)="selectDay('mon')" class="btn-selectDays">Mon</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.tue,'btn-activeDays':act.tue}" (click)="selectDay('tue')" class="btn-selectDays">Tue</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.wed,'btn-activeDays':act.wed}" (click)="selectDay('wed')" class="btn-selectDays">Wed</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.thur,'btn-activeDays':act.thu}" (click)="selectDay('thu')" class="btn-selectDays">Thu</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.fri,'btn-activeDays':act.fri}" (click)="selectDay('fri')" class="btn-selectDays">Fri</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.sat,'btn-activeDays':act.sat}" (click)="selectDay('sat')" class="btn-selectDays">Sat</a>
                        <a  [ngClass]="{'btn-disableDays':setClassOnDaysOf.sun,'btn-activeDays':act.sun}" (click)="selectDay('sun')" class="btn-selectDays">Sun</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p>Available Days</p>
                        <p *ngIf="!availableDays.length"class="days-selected">None</p>
                        <p style="display: inline" *ngFor="let day of availableDays" class="days-avail">{{day}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p>Unavailable Days</p>
                        <!-- <p class="days-selected">Tues,Thur,Wed</p> -->
                        <p *ngIf="getOffDays.length==1" class="days-selected">None</p>
                        <p style="display: inline" *ngFor="let item of getOffDays" class="days-unavail">{{item}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn-submit">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- check end -->

        <!-- already package created started -->
        <div class="panel panel-default package2" *ngFor="let item of createdPackageList; let i=index">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" id="foo" data-parent="#packageAccordionWrap" href="#{{item.package_id}}">
                <span>{{item.place.place_name}}</span>
                <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="{{item.package_id}}">
            <form class="ggForm package-form">
              <a (click) = "deletePackage(item.package_id)" class="package-deleteIcon"><img src="../../assets/images/delete-group.png" alt="Delete"></a>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Select City</label>
                    <!-- <ng-select 
                      notFoundMsg="No characters found"
                      [options]="myCities"
                      (selected)="onSelectCities($event)">
                    </ng-select> -->
                    <select  class="form-control" (change)="onSelectCitiesCreatedPackages($event.target.value,i)">
                      <option selected>Select</option> 
                      <option *ngFor="let state of myCities" [selected]="cityCreatedPackage[i].label==state.label"
                       value={{state.label}} >
                        {{state.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Select Place</label>
                    <span>
                      <!-- <ng-select 
                      [options]="placesInsideCities"
                      (selected)="onSelectedInternalPlace($event)">
                    </ng-select> -->
                      <select  class="form-control" (change)="onSelectedInternalPlaceCreatedPackage($event.target.value,i)">
                        <option selected>Select</option>
                        <option *ngFor="let place of updatedMyPlaces[i]" 
                        [selected]="placeCreatedPackageSelect[i].label==place.label"
                        value={{place.value}} >
                          {{place.label}}
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Language</label>
                    <ng-multiselect-dropdown class="form-control test"
                      [placeholder]="'Select Languages'"
                      [data]="languages"
                      [(ngModel)]="item.language"
                      name="language"
                      [settings]="dropdownSettings"
                      (onSelect)="selectLangCreatedPacakeges($event,i)"
                      (onDeSelect)="deSelectLangCreatedPackages($event,i)"
                      (onSelectAll)="onSelectAll($event)"
                    >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Charge (&#8377;)</label>
                        <input type="text" [(ngModel)]="forUpdateThePackage[i].packageCharge" name="charges" class="form-control">
                      </div>
                    </div>                            
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Duration (hr)</label>
                        <input type="text" [(ngModel)]="forUpdateThePackage[i].durationHr" name="duration" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Itinerary</label>
                    <!-- <textarea class="form-control" placeholder="Type here" autocomplete="off"></textarea> -->
                    <app-ngx-editor [placeholder]="'Enter text here...'" 
                    [spellcheck]="true" [(ngModel)]="forUpdateThePackage[i].itinearay" 
                    name="htmlContent"></app-ngx-editor>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Select Days</label>                                
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.mon , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.mon}" (click)="cPackageSelectDay('mon',i)" class="btn-selectDays">Mon</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.tue , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.tue}" (click)="cPackageSelectDay('tue',i)" class="btn-selectDays">Tue</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.wed , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.wed}" (click)="cPackageSelectDay('wed',i)" class="btn-selectDays">Wed</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.thu , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.thu}" (click)="cPackageSelectDay('thu',i)" class="btn-selectDays">Thu</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.fri , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.fri}" (click)="cPackageSelectDay('fri',i)" class="btn-selectDays">Fri</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.sat , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.sat}" (click)="cPackageSelectDay('sat',i)" class="btn-selectDays">Sat</a>
                  <a  [ngClass]="{'btn-disableDays':forUpdateThePackage[i].cDayOff.sun , 'btn-activeDays':forUpdateThePackage[i].cActiveDay.sun}" (click)="cPackageSelectDay('sun',i)" class="btn-selectDays">Sun</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p>Available Days</p>
                  <p *ngIf="!forUpdateThePackage[i].cPackageAvailableDays.length"class="days-selected">None</p>
                  <p style="display: inline" *ngFor="let day of forUpdateThePackage[i].cPackageAvailableDays" 
                  class="days-avail">&nbsp;{{day | uppercase}}</p>
                </div>
                <div class="col-sm-6">
                  <p>Unavailable Days</p>
                  <!-- <p class="days-selected">Tues,Thur,Wed</p> -->
                  <p *ngIf="getOffDays.length==1" class="days-selected">None</p>
                  <p style="display: inline" *ngFor="let item of forUpdateThePackage[i].cPAckageOffDay" 
                  class="days-unavail">&nbsp;{{item | uppercase}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-submit" (click)="updatePackage(item.package_id,i)">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- PAGINATION BUTTON -->
        <div class = "paginate text-center">
          <a *ngIf = "packageLoaded>4"class="bt button2" (click)="gettingExistingPackageData('pre')"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>&nbsp;Previous</a>&nbsp;
          <a *ngIf = "packageLoaded<totalPackages" class="bt button2" (click)="gettingExistingPackageData('next')">Next &nbsp;<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
        </div>
        <!--pagination end  -->
      </div>
    </div>
  </div>
</div> 
