@charset "utf-8";
/* CSS Document */
.html,
body.modal-open,
body.modal-open2 {
	overflow-x: hidden;
}
body.modal-open,
body.modal-open2 {
	width: 100%;
    position: fixed;
    overflow: hidden;
}
.blue {
	color: #18afc4;
}
header.inner-header {
	top: 0;
	padding: 10px 0;
	background: #ffffff !important;
	box-shadow: 0 2px 4px 2px #d5d5d5;
}
header.inner-header .navbar {
	top: 9px;
	float: right;
	border: none;
	min-height: auto;
	margin-bottom: 0;
}
header.inner-header .navbar ul {
	padding: 0;
	float: none;
	margin: 0;
	list-style: none;
	display: inline-block;
}
header.inner-header .navbar ul li {
	display: inline-block;
}
header.inner-header .navbar ul li a {
	font-size: 18px;
	color: #333333;
	line-height: 36px;
	font-weight: 500;
	display: block;
	padding: 2px 20px;
	letter-spacing: 0.5px;
	text-decoration: none;
}
header.inner-header .navbar ul > li.active a,
header.inner-header .navbar ul > li a:hover {
	color: #18afc4;
	text-decoration: none;
}
header.inner-header .navbar ul > li a:focus {
	text-decoration: none;
}
header.inner-header .navbar ul > li a .fa-bell-o {
	position: relative;
}
header.inner-header .navbar ul > li a span.badge {
	font-family: "HelveticaNeue";
	font-size: 10px;
	right: 0;
	top: -8px;
	font-weight: 500;
	padding: 3px 5px;
	position: absolute;
	background: #ffab40;
}
header.inner-header .navbar ul > li.last a {
	color: #ffffff;
	padding: 8px 35px;
	border-radius: 4px;
	background: #18afc4;
	text-transform: uppercase;
}
header.inner-header .navbar ul > li.last a:hover {
	color: #18afc4;
	background: #ffffff;
}
header.inner-header .dropdown .profile-icon {
	width: 36px;	
	border-radius: 50%;
}
header.inner-header .dropdown-menu {
	right: 0;
	left: auto;
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
}
header.inner-header .dropdown-menu ul {
	padding: 0;
	margin: 17px 0 0;
	min-width: 400px;
	list-style: none;
	background: #ffffff;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header.inner-header .dropdown-menu li {
	width: 100%;
}
header.inner-header .dropdown-menu li a {
	font-size: 17px !important;
	color: #333333 !important;
	font-weight: normal !important;
	padding: 12px 20px !important;
	position: relative;
	text-transform: none;
}
header.inner-header .dropdown-menu li a:hover {
	background: #f1f1f1 !important;
}
header.inner-header .dropdown-menu li a::after {
	bottom: 0;
	left: 20px;
	right: 20px;
	content: "";
	height: 1px;
	position: absolute;
	background: rgba(229, 228, 228, 0.5);	
}
header.inner-header .dropdown-menu li:last-child a::after {
	background: none;	
}
header.inner-header .navbar .navbar-toggler .icon-bar {
	background: #333333;
}
@media (max-width: 767px) {
	header.inner-header .navbar {
		top: 0;
		float: none;
	}
	header.inner-header .navbar .navbar-collapse {
		top: 65px;
		background: #ffffff;
	}
	header.inner-header .navbar ul {
		width: 100%;
		text-align: center;
		border-bottom: none;
	}
	header.inner-header .navbar ul li {
		display: block;
	}
	header.inner-header .navbar ul li a {
		font-size: 18px;
		line-height: 24px;
		padding: 8px 20px;
	}
}
/*---------------------------Search-------------------------*/
.inner-search {
	padding: 15px 0;
	margin-top: 78px;
	border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}
.inner-search .form-group {
	margin: 0;
}
.inner-search .form-inner {
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0 2px 4px 0 #b7b5b580;
}
.inner-search .form-inner .form-control {
	float: left;
	border: none;
	font-size: 16px;
	color: #666666;
	height: 40px;
	border-radius: 0;
	font-weight: normal;
	line-height: normal;
	background: none;
	letter-spacing: 0.5px;
	padding: 5px 10px 5px 50px;
	border-right: 1px solid #dad9d9;
}
.inner-search .form-inner .form-control:last-child {
	border-right: none;	
}
.inner-search .form-inner .form-control:focus {
	box-shadow: none;
}
.inner-search .form-inner select.form-control {
    appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
}

@media (max-width: 991px) {
	.inner-search .form-inner .form-control {
		font-size: 14px;
		height: 40px;
		width: 20% !important;
	}
	.inner-search .button5 {
		font-size: 16px;
		padding: 8px 20px;
	}
}
@media (max-width: 767px) {
	.inner-search {
		margin-top: 65px;
	}
	.inner-search form {
		text-align: center;
	}
	.inner-search .button5 {
		font-size: 16px;
		padding: 8px 20px;
		margin: 15px auto 0;
	}
}
@media (max-width: 640px) {
	.inner-search .form-inner .form-control {
		width: 100% !important;
		border-right: none;
	}
}
/*--------------------------Error404------------------------*/
.error404 {
	color: #666666;
	text-align: center;
}
.error404 h2 {
	font-size: 40px;
	color: #333333;
	margin-top: 0;
}
.error404 h3 {
	font-size: 22px;
	color: #333333;
	margin: 20px 0;
	line-height: 1.4;
	text-transform: uppercase;
}
.error404 h3 span {
	font-size: 26px;
	display: block;
}
@media (max-width: 767px) {
	.error404 {
		text-align: center;
	}
	.error404 h2 {
		font-size: 35px;
	}
	.error404 h3 {
		font-size: 18px;
	}
	.error404 h3 span {
		font-size: 22px;
	}
}
/*------------------------Inner Banner----------------------*/
.banner-header h1 {
	top: 60%;
	left: 50%;
	width: 100%;
	margin: 0;
	position: absolute;
	padding: 0 15px 15px;
    transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
	-ms-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
}
@media (max-width: 1199px) {
	.banner-header {
		min-height: 230px;
	}
}
@media (max-width: 767px) {
	.banner-header {
		min-height: 180px;
	}
}
/*------------------------Main Content----------------------*/
.main-content {
	padding: 50px 0;
	background: #ffffff;
}
.gray-box {
	padding: 15px;
	background: #f4f4f4;
}
.inner-heading1 {
	position: relative;
}

.inner-heading2 {
	font-size: 22px;
	color: #ffffff;
	line-height: 1.4;
	font-weight: 500;
	padding: 7px 10px;
	text-align: center;
	background: #18afc4;
	margin-bottom: 20px;
	letter-spacing: 0.7px;
}
.inner-heading2::after {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #18afc4;
}
.main-content .copy-content {
	font-size: 12px;
	line-height: 1.2;
}
.main-content .main-inner {
	margin-bottom: 35px;
}
.main-content .list-level1 {
	margin: 5px 0 5px;
	padding: 0 0 0 20px;
	list-style-type: lower-roman;
}
.main-content .list-level1 li {
    margin: 0 0 12px;
    padding-left: 5px;
}
.main-content .list-level2 {
	margin: 5px 0 5px;
	padding: 0 0 0 20px;
	list-style-type: lower-alpha;
}
.main-content .list-level2 li {
    margin: 0 0 12px;
    padding-left: 5px;
}
.main-content.content-text {
	font-size: 15px;
}
@media (max-width: 767px) {
	.main-content {
		padding: 20px 0;
	}
	.main-content .main-inner {
		margin-bottom: 20px;
	}
	.main-content.content-text {
		font-size: 12px;
		letter-spacing: 0.6px;
	}
	.inner-heading2 {
		font-size: 20px;
		margin-top: 30px;
		padding: 5px 10px;
	}
}
@media (max-width: 480px) {
	.inner-heading2 {
		font-size: 18px;
		margin-bottom: 10px;
	}
}
/*----------------------------FAQ---------------------------*/
.faq-section {
	background: #f3f3f3;	
}
.faq-box .panel-group .panel {
	border: none;
	margin: 0 0 15px;
	border-radius: 0;
	background: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.faq-box .panel-default > .panel-heading {
	padding: 0;
}
.faq-box .panel-default .panel-heading {
	position: relative;
}
.faq-box .panel-default .panel-heading a {
	font-size: 16px;
	line-height: 1.6;
	display: block;
	font-weight: 500;
	letter-spacing: 0.6px;
	text-decoration: none;
	color: #ffffff !important;
	padding: 10px 30px 10px 15px;
	background: #18afc4 !important;
}
.faq-box .panel-default .panel-heading .collapsed {
	color: #18afc4 !important;
	background: #ffffff !important;
}
.faq-box .panel-default .panel-heading a:hover {
	color: #ffffff !important;
	background: #18afc4 !important;
}
.faq-box .panel-default .panel-heading a::after {
	top: 45%;
	right: 15px;
	content: "–";
	font-size: 22px;
	position: absolute;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);
}
.faq-box .panel-default .panel-heading a.collapsed::after {
	content: "+";
}
.faq-box .panel-body {
	font-size: 15px;
	padding: 15px;
	background: #ffffff;
	letter-spacing: 0.5px;
	border: none !important;
}
@media (max-width: 767px) {
	.faq-section {
		padding: 0 0 10px;	
	}
	.faq-box .panel-group .panel {
		margin: 0 0 10px;
	}
	.faq-box .panel-default .panel-heading a {
		font-size: 15px;
		line-height: 1.4;
		letter-spacing: 0.5px;
		padding: 10px 25px 10px 10px;
	}
	.faq-box .panel-default .panel-heading a::after {
		right: 10px;
		font-size: 20px;
	}
	.faq-box .panel-body {
		font-size: 14px;
		padding: 10px;
	}
}
@media (max-width: 480px) {
	.faq-box .panel-default .panel-heading a {
		font-size: 14px;
		line-height: 1.3;
		padding: 10px 22px 10px 10px;
	}
	.faq-box .panel-default .panel-heading a::after {
		right: 8px;
		font-size: 18px;
	}
	.faq-box .panel-body {
		font-size: 13px;
	}
}
/*---------------------Cancellation Policy------------------*/
.cancellation {
	padding: 70px 0;
}
.cancellation .cancellation-box {
	padding: 30px 10px;
	background: #ffffff;
	box-shadow: 0 1px 5px rgba(153, 153, 153, 0.5);
}
.cancellation .cancellation-box h3 {
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	line-height: normal;
	background: #18afc4;
	letter-spacing: 0.5px;
	padding: 10px 10px 11px 50px;
}
.cancellation .cancellation-box strong {
	font-weight: 500;
}
.cancellation .cancellation-box ul {
	margin-top: -10px;
	padding: 10px 0 10px 66px;
	background: rgba(24, 175, 196, 0.15);
}
.cancellation .cancellation-box ul li {
	font-size: 18px;
	color: #999999;
	font-weight: normal;
	line-height: normal;
	padding: 5px 0;
	letter-spacing: 0.5px;
}
.cancellation .cancellation-box ul li span {
	color: #333333;
}
@media (max-width: 767px) {
	.cancellation {
		padding: 20px 0;
	}
	.cancellation .cancellation-box {
		padding: 0 10px;
		box-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
	}
	.cancellation .cancellation-box h3 {
		font-size: 16px;
		margin: 10px 0 10px;
		padding: 10px 10px 11px 15px;
	}
	.cancellation .cancellation-box ul {
		margin-top: -10px;
		padding: 10px 10px 10px 26px;
	}
	.cancellation .cancellation-box ul li {
		font-size: 16px;
		padding: 3px 0;
	}
}
@media (max-width: 480px) {
	.cancellation .cancellation-box h3 {
		font-size: 15px;
	}
	.cancellation .cancellation-box ul li {
		font-size: 14px;
	}
}
/*-------------------------Breadcrumb-----------------------*/
.bread-crumb {
	font-size: 14px;
	color: #333333;
	padding: 15px 0 0;
	font-weight: normal;
	line-height: normal;
	margin-bottom: -20px;
}
.bread-crumb a {
	color: #18afc4;	
	text-decoration: none;
}
.bread-crumb a:hover {
	color: #333333;	
}
@media (max-width: 767px) {
	.bread-crumb {
		font-size: 13px;
		margin-bottom: -10px;
	}
}
@media (max-width: 480px) {
	.bread-crumb {
		font-size: 12px;
		margin-bottom: -10px;
	}
}
/*---------------------------Lising-------------------------*/

 .listing {
	margin-top: 30px;
	position: relative;
	border-radius: 4px;
	background: #ffffff;
	padding: 22px 22px 0;
	box-shadow: 0 2px 4px 2px #e2e1e1;
}
 .certified-badge {
	right: 0;
	top: 35px;
	position: absolute;
}
.certified-badge .tooltip {
	opacity: 1;
}
.certified-badge .tooltip-arrow {
	left: auto;
	right: 10px;
	border-top-color: #f2f1f1;
}
.certified-badge .tooltip-inner {
	font-size: 7px;
	color: #333333;
	font-weight: normal;
    line-height: 1.43;
	border-radius: 4px;
	background: #f2f1f1;
	letter-spacing: 0.4px;
}
 .certified-badge img {
	width: 143px;
}
.listing-left {
	width: 14%;
	float: left;
	padding-bottom: 22px;
}
.listing-left a {
	display: block;
	position: relative;
}
.listing-left a::before {
	top: 0;
	width: 4px;
	left: -22px;
	content: "";
	height: 100%;
	position: absolute;
	background: #e89c59;
}
 .listing-left .guide-fee {
	font-size: 18px;
	color: #38b963;
	font-weight: 500;
	line-height: normal;
	padding: 5px;
	display: block;
	margin-top: 10px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid rgba(206, 204, 204, 0.5);
}
 .listing-right {
	width: 82%;
	float: right;
	position: relative;
	padding-bottom: 22px;
}
 .listing-right h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	line-height: normal;
}
.listing-right h3 a {
	color: #333333;
	text-decoration: none;
}
 .listing-right h3 a:hover {
	color: #18afc4;
}
.listing-right h3 span {
	font-size: 14px;
	color: #18afc4;
	font-weight: normal;
	line-height: normal;
}
 .listing-right .cancel-btn {
	top: 0;
	right: 0;
	font-size: 14px;
	color: #999999;
	font-weight: 500;
	position: absolute;
	line-height: normal;
	letter-spacing: 0.4px;
	text-decoration: none;
	text-transform: uppercase;
}
.listing-right .cancel-btn:hover {
	color: #18afc4;
}
.listing-right i {
	font-size: 16px;
	color: #e6e6e6;
}
.listing-right i.rated {
	color: #fed953;
}
.listing-right h4 {
	font-size: 16px;
	color: #666666;
	font-weight: 500;
	margin: 15px 0 20px;
	line-height: normal;
}
.listing-right h4 span {
	font-size: 14px;
	display: block;
	margin-bottom: 3px;
	font-weight: normal;
}
.listing-right .time-remain {
	font-size: 12px;
	color: #f4a044;
	font-weight: 500;
	display: block;
	line-height: normal;
	margin: 5px 10px 0 0;
}
.guide-detail {
	position: relative;
}
.guide-detail::before {
	top: 7px;
	left: 10px;
	right: 10px;
	content: "";
	height: 1px;
	width: 96%;
	position: absolute;
	background: #edebeb;
}
 .detail-box {
	font-size: 14px;
	z-index: 1;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0 2px 4px 2px #e2e1e1;
}
.detail-box ul {	
	border-bottom: 1px solid #edebeb;
}
.detail-box li {
	margin-bottom: 0;
}
.detail-box li a {
	font-size: 14px;
	color: #666666;
	line-height: normal;
	border: none;
	margin: 0;
	font-weight: normal;
	border-bottom: 2px solid transparent;
}
 .detail-box li.active a {
	border: none;
	outline: none;
	color: #333333;
	font-weight: 500;
	border-bottom: 2px solid #18afc4;
}
.detail-box .guide-desc {
	font-size: 14px;
	color: #333333;
	line-height: 1.5;
	padding: 10px 0;
	margin-top: 15px;
	border-top: 1px solid #edebeb;
}
.detail-box .package-box {
	margin: 5px;
	padding: 5px 10px;
	background: #ffffff;
	box-shadow: 0 2px 4px 2px #e2e1e1;	
}
.package-box .rate {
	color: #38b963;
	font-weight: 500;
}
 .detail-box .package-box .duration {
	float: right;
	color: #18afc4;
	font-weight: 500;
}
.detail-box .pending-trips-detail {
	font-size: 16px;
	color: #999999;
	margin: 10px 0;
	list-style: none;
	padding: 10px 15px;
	border-radius: 4px;
	border: solid 1px #edebeb;
}
.detail-box .pending-trips-detail li {
	padding: 10px 0;
	border-bottom: solid 1px #edecec;	
}
.detail-box .pending-trips-detail li img {
	margin-right: 10px;
}
.detail-box .pending-trips-detail li:last-child {
	border-bottom: none;	
}
.detail-box .pending-trips-detail li span {
	float: right;
	color: #333333;
}
.detail-box .carousel-control {
	opacity: 1;
	width: auto;
	background: none;
}
.detail-box .item {
	width: 96%;
	margin: 0 auto;
}
.detail-box .carousel-control i {
	top: 50%;
	color: #666666;
    font-size: 25px;
	text-shadow: none;
	position: absolute;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);	
}
.listing .cancelled-trip,
.listing .request-pending {
	font-size: 14px;
	color: #666666;
	font-weight: 500;
	padding: 5px;
	line-height: normal;
	position: relative;
	text-align: center;
}
.listing .cancelled-trip::before,
 .listing .request-pending::before {
	top: 0;
	left: -22px;
	right: -22px;
	height: 1px;
	content: "";
	position: absolute;
	background: rgba(153,153,153, 0.5);
} 
.listing .cancelled-trip {
	color: #f44336;
}
 .listing .view-details {
	font-size: 14px;
	color: #18afc4;
	font-weight: normal;
	line-height: normal;
	margin: 0 -22px;
	padding: 5px 10px;
	text-align: center;
	background: #f9f9f9;
	border-radius: 0 0 4px 4px;
	border-top: 1px solid #edebeb;
	box-shadow: 0 2px 4px rgba(226, 225, 225, 0.5);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	 .listing-left .guide-fee {
		font-size: 14px;
		padding: 5px;
	}
	 .listing-left {
		width: 20%;
	}
	.listing-right {
		width: 76%;
		padding-bottom: 10px;
	}
	 .listing-right h3 {
		font-size: 14px;
	}
	.listing-right h3 span {
		font-size: 13px;
	}
	 .listing-right .cancel-btn {
		top: 3px;
		font-size: 12px;
		letter-spacing: 0;
	}
	.listing-right h4 {
		font-size: 14px;
		margin: 10px 0 5px;
	}
	 .listing-right h4 span {
		font-size: 12px;
	}
	.listing-right .time-remain {
		font-size: 11px;
		margin: 5px 0 0;
	}
	 .listing-right i {
		font-size: 12px;
	}
	 .certified-badge {
		top: 25px;
	}
	.certified-badge img {
		width: 120px;
	}
	.guide-detail .text-left {
		padding-right: 10px;
	}
	.guide-detail .text-right {
		padding-left: 10px;
	}
	 .guide-detail .button4 {
		width: auto;
		font-size: 13px;
		padding: 5px 12px;
	}
	.guide-detail .text-right .button6 {
		bottom: -31px;
		right: 0;
		position: absolute;
	}
	 .detail-box .pending-trips-detail {
		font-size: 14px;
	}
	.detail-box .pending-trips-detail li {
		padding: 6px 0;
	}
	.detail-box .pending-trips-detail li img {
		width: 18px;
		margin-right: 6px;
	}
	.detail-box .guide-desc {
		font-size: 13px;
		margin-top: 10px;
	}
}
@media (max-width: 767px) {
	.listing {
		margin-top: 15px;
		padding: 10px 10px 0;
	}
	.listing .view-details {
		margin: 0 -10px;
	}	
	.listing-left a::before {
		width: 3px;
		left: -10px;
	}
	.guide-detail .button4 {
		width: auto;
		font-size: 13px;
		padding: 5px 12px;
	}
	.detail-box .pending-trips-detail {
		margin: 25px 0 0;
	}
	.listing .cancelled-trip,
	.listing .request-pending {
		font-size: 13px;
		padding: 6px 5px;
	}
	.listing .cancelled-trip::before,
	.listing .request-pending::before {
		left: -10px;
		right: -10px;
	}
}
@media (max-width: 640px) {
	.listing-right h3 {
		font-size: 14px;
	}
	.listing-right h3 span {
		font-size: 13px;
	}
	.certified-badge {
		top: 20px;
	}
	.certified-badge img {
		width: 100px;
	}
	.listing-left .guide-fee {
		font-size: 14px;
		padding: 5px;
	}
	.listing-right i {
		font-size: 12px;
	}
	.listing-right h4 {
		font-size: 14px;
		margin: 10px 0 5px;
	}
	.listing-right h4 span {
		font-size: 12px;
	}
	.listing-right .time-remain {
		font-size: 11px;
		margin: 5px 0 0;
	}
	.listing-right .cancel-btn {
		font-size: 13px;
		letter-spacing: 0;
	}
	.detail-box .pending-trips-detail {
		font-size: 14px;
	}
	.detail-box .pending-trips-detail li {
		padding: 6px 0;
	}
	.detail-box .pending-trips-detail li img {
		width: 18px;
		margin-right: 6px;
	}
	.detail-box .guide-desc {
		font-size: 12px;
		padding: 8px 0 0;
		margin-top: 10px;
	}
	.listing .cancelled-trip,
	.listing .request-pending {
		font-size: 12px;
	}
}
@media (max-width: 480px) {
	.listing-left {
		width: 20%;
	}
	.listing-right {
		width: 76%;
		padding-bottom: 20px;
	}
	.guide-detail .text-left {
		padding-right: 5px;
	}
	.guide-detail .text-right {
		padding-left: 5px;
	}
	.detail-box li a {
		font-size: 13px;
		padding: 6px 10px;
	}
	.listing-right h4 {
		font-size: 13px;
		margin: 10px 0 5px;
	}
	.listing-right .time-remain {
		font-size: 10px;
		right: 12px;
		bottom: -16px;
		position: absolute;
		white-space: nowrap;
	}
	.listing-right .cancel-btn {
		top: 3px;
		font-size: 12px;
	}
	.listing-right i {
		font-size: 10px;
	}
	.guide-detail .button4 {
		font-size: 11px;
		padding: 4px 6px;
	}
	.detail-box .pending-trips-detail {
		font-size: 13px;
	}
	.detail-box .pending-trips-detail li {
		padding: 5px 0;
	}
	.detail-box .pending-trips-detail li img {
		width: 16px;
	}
}
/*--------------------------My Trips------------------------*/

 .nav-tabs {
	border-radius: 4px 4px 0 0;
	box-shadow: 0 2px 4px #b7b7b7;
	border-bottom: 2px solid #18afc4;
}
 .nav-tabs li {
	margin: 0;
	width: 25%;
	text-align: center;
}
 .nav-tabs li a {
	font-size: 18px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
	padding: 14px 15px;
	margin: 0;
	border: none;
	outline: none;
	border-radius: 0;
	background: #fefefe;
	letter-spacing: 0.5px;
	border-right: 1px solid rgba(24, 175, 196, 0.5);
}
 .nav-tabs li:first-child a {
	border-radius: 4px 0 0 0;
}
 .nav-tabs li:last-child a {
	border-right: none;
	border-radius: 0 4px 0 0;
}
 .nav-tabs li.active a {
	border: none;
	color: #ffffff;
	background: #18afc4;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	 .nav-tabs li a {
		font-size: 16px;
		padding: 12px 15px;
	}
}
@media (max-width: 767px) {
	 .nav-tabs li a {
		font-size: 13px;
		padding: 10px 6px;
		white-space: nowrap;
	}
}
@media (max-width: 480px) {
	 .nav-tabs li a {
		font-size: 12px;
		padding: 6px;
	}
	 .nav-tabs li a span {
		display: block;
	}
}
/*--------------------------No Trips------------------------*/
 .no-trips {
	margin-top: 40px;
	padding: 50px 15px;
	text-align: center;
	border-radius: 4px;
	background: #ffffff;	
}
 .no-trips img {
	width: 220px;
}
 .no-trips .no-trips-content {
	font-size: 16px;
	color: #333333;
	font-weight: 500;
	line-height: 1.38;
	margin: 30px 0;
	letter-spacing: 0.5px;
}
@media (max-width: 767px) {
	 .no-trips {
		margin-top: 40px;
		padding: 15px 10px;
	}
	 .no-trips img {
		width: 150px;
	}
	 .no-trips .no-trips-content {
		margin: 15px 0;
	}
}
@media (max-width: 480px) {
	 .no-trips {
		padding: 10px;
		margin-top: 30px;
	}
	 .no-trips img {
		width: 120px;
	}
}
/*------------------------Notification----------------------*/
.notification {
	padding: 15px 0;
	margin-top: 78px;
}
.notification .chat-box {
	background: #f8f7f7;
	box-shadow: 0 1px 4px #cccccc;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.notification .chat-left {
	background: #ffffff;
}
.notification .chat-left h3 {
	font-size: 18px;
	color: #666666;
	font-weight: 500;
	margin: 0 -15px;
	padding: 15px;
	line-height: normal;
	border-right: 1px solid rgba(151, 151, 151, 0.5);
	border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.notification .chat-left .chat-list {
	padding: 15px 0;
	position: relative;	
}
.notification .chat-left .chat-list::after {
	top: 0;
	right: -15px;
	width: 1px;
	height: 100%;
	content: "";
	position: absolute;
	background: rgba(151, 151, 151, 0.5);
}
.notification .chat-left .list {
	font-size: 13px;
	color: #666666;
	font-weight: 300;
	line-height: 1.38;
	margin: 5px 0;
	padding: 5px 10px;
	position: relative;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 0 1px 2px #b1b1b1;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.notification .chat-left .list.active::before {
	top: 0;
	left: 0;
	width: 4px;
	content: "";
	height: 100%;
	position: absolute;
	background: #59c568;
	border-radius: 5px 0 0 5px;
}
.notification .chat-left .list img {
	float: left;
	margin: 10px 10px 10px 5px;
}
.notification .chat-left .list a {
	color: #666666;
	display: block;
	text-decoration: none;
}
.notification .chat-left .list:hover {
	border: 1px solid #18afc4;
}
.notification .chat-left .list h4 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	line-height: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(207, 242, 247, 0.5);
}
.notification .chat-left .list h4 span {
	float: right;
	font-size: 12px;
	color: #666666;
	margin-top: 3px;
	font-weight: normal;
}
.notification .chat-left .input-group {
	width: 100%;
	position: relative;	
}
.notification .chat-left .input-group img {
	top: 10px;
	left: 15px;
	z-index: 4;
	position: absolute;	
}
.notification .chat-left .form-control {
	font-size: 16px;
	color: #666666;
	height: 40px;
	border-radius: 5px;
	line-height: normal;
	font-weight: normal;
	padding-left: 42px;
	appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.notification .chat-left .form-control:focus {
    outline: none !important;
    box-shadow: none;
}
.notification .chat-left .form-control::-webkit-input-placeholder {
	color: #c7c7c7;
}
.notification .chat-left .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #c7c7c7;
}
.notification .chat-left .form-control::-moz-placeholder {/* FF 19+ */    
	color: #c7c7c7;
}
.notification .chat-left .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #c7c7c7;
}
.notification .chat-right h1 {
	font-size: 16px;
	color: #666666;
	font-weight: 500;
	margin: 0 -15px;
	padding: 8px 15px;
	line-height: normal;
	background: #ffffff;
	border-bottom: 1px solid rgba(151, 151, 151, 0.5);	
}
.notification .chat-right h1 span {
	font-size: 12px;
	display: block;
	font-weight: normal;
}
.notification .chat-right .chating-box {
	font-size: 18px;
	color: #333333;
    font-weight: 500;
	padding: 15px;
	margin: 20px 50px;
	border-radius: 4px;
	background: #ffffff;
}
.notification .chat-right .chating-box h5 {
	font-size: 16px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
}
.notification .chat-right .chating-inner {
	padding: 15px;
	border-radius: 4px;
	background: #ffffff;
	margin-bottom: 15px;
	border: 1px solid rgba(151, 151, 151, 0.5);		
}
.notification .chat-right .chating-inner ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.notification .chat-right .chating-inner ul li {
	font-size: 16px;
	color: #666666;
	font-weight: normal;
	line-height: normal;
	padding: 2px 0;
}
.notification .chat-right .chating-inner ul li span {
	color: #333333;
	float: right;
}
/* for dropdown */
@media (max-width: 1047px){
	.button6, .button7 {
		font-size: 10px;
		padding: 5px 12px;
	}
}		
@media (max-width: 991px){
.button6, .button7 {
	font-size: 13px;
	padding: 5px 12px;
	}
}
@media (max-width: 767px){
	.button7 {
		font-size: 13px;
		padding: 5px 12px;
	}
}
@media (max-width: 480px){
	.button6, .button7 {
		font-size: 11px;
		padding: 4px 6px;
	}
	.listing-right .time-remain {
		font-size: 10px;
		right: 12px;
		bottom: -16px;
		position: absolute;
		white-space: nowrap;
	}
}
.detail-close {
	z-index: 999;
	position: relative;
}

/* no trip */
 .no-trips {
	margin-top: 40px;
	padding: 50px 15px;
	text-align: center;
	border-radius: 4px;
	background: #ffffff;	
}
 .no-trips img {
	width: 220px;
}
 .no-trips .no-trips-content {
	font-size: 16px;
	color: #333333;
	font-weight: 500;
	line-height: 1.38;
	margin: 30px 0;
	letter-spacing: 0.5px;
}
@media (max-width: 767px) {
	 .no-trips {
		margin-top: 40px;
		padding: 15px 10px;
	}
	 .no-trips img {
		width: 150px;
	}
	 .no-trips .no-trips-content {
		margin: 15px 0;
	}
}
@media (max-width: 480px) {
	 .no-trips {
		padding: 10px;
		margin-top: 30px;
	}
	 .no-trips img {
		width: 120px;
	}
}