<div id="guidePassbook" class="tab-pane fade in active passbook-tab">
  <div class="ggHeading2 text-center">
    <h2 class="main_heading ">Passbook<span></span></h2>
  </div>
  <ul class="nav nav-tabs">
    <li [ngClass]="{'active':type=='TODAY'}"><a (click)="getPassbookDetail('TODAY')">Today</a></li>
    <li [ngClass]="{'active':type=='WEEKLY'}"><a (click)="getPassbookDetail('WEEKLY')">Weekly</a></li>
    <li [ngClass]="{'active':type=='ALL'}"><a (click)="getPassbookDetail('ALL')">All</a></li>
  </ul>
  <div class="tab-content passbook-tab-content"><!-- passbook tab content -->
    <div class="tab-pane fade in active" id="todayPassbook">
      <div class="five-wrap row">
        <div class="five-col col-sm-2 five-col1">
          <div class="five-outer">
            <div class="five-inner">
              <img src="../../assets/images/earning-group-icon.png" alt="">
              <p>Total Earnings</p>
            </div>
            <p *ngIf="passbookDetail">Rs. {{passbookDetail.total_earnings}}</p>
          </div>
        </div>
        <div class="five-col col-sm-2 five-col2">
          <div class="five-outer">
            <div class="five-inner">
              <img src="../../assets/images/tour-group-icon.png" alt="">
              <p>No. of Tours</p>
            </div>
            <p *ngIf="passbookDetail">{{passbookDetail.total_tour}}</p>
          </div>
        </div>                            
        <div class="five-col col-sm-2 five-col3">
          <div class="five-outer">
            <div class="five-inner">
              <img src="../../assets/images/settled-amount.png" alt="">
              <p>Settled Amount</p>
              <p class="five-small">(from Odigos)</p>
            </div>
            <p class="five-green" *ngIf="passbookDetail">Rs. {{passbookDetail.settled_amount}}</p>
          </div>
        </div>
        <div class="five-col col-sm-2 five-col4">
          <div class="five-outer">
            <div class="five-inner">
              <img src="../../assets/images/cash-collected.png" alt="">
              <p>Cash Collected</p>
              <p class="five-small">(from Customer)</p>
            </div>
            <p class="five-green" *ngIf="passbookDetail">Rs. {{passbookDetail.cash_collected}}</p>
          </div>
        </div>
        <div class="five-col col-sm-2 five-col5">
          <div class="five-outer">
            <div class="five-inner">
              <img src="../../assets/images/cancel-icon.png" alt="">
              <p>Payment Pending</p>
              <p class="five-small">(from Odigos)</p>
            </div>
            <p class="five-red" *ngIf="passbookDetail">Rs. {{passbookDetail.payment_pending}}</p>
          </div>
        </div>
      </div>
    <div class="row">
      <div *ngIf = "passbookDetail && passbookDetail.passbookListing.length>0"  class="col-sm-12 passbook-padding">
        <div class="passbook-inner">
          <div class="col-sm-12 passbox-wrap">
            <div class="row" *ngIf = "passbookDetail">
              <div *ngFor = "let item of passbookDetail.passbookListing" class="col-sm-6 passbox-col">
                <div class="pass-box">
                  <div class="passbox-row1">
                    <span class="passbox-col1">Booking Id - {{item.booking_id}}</span>
                    <span class="passbox-col2">{{item.date_of_tour}}</span>
                  </div>
                  <div class="passbox-row">
                    <span class="passbox-col1">Tour</span>
                    <span class="passbox-col2">{{item.tour_name}}</span>
                  </div>
                  <div class="passbox-row">
                    <span class="passbox-col1">Package Rate</span>
                    <span class="passbox-col2">Rs. {{item.guide_charges}}</span>
                  </div>
                  <div class="passbox-row">
                    <span class="passbox-col1">Settled Amount <span class="five-small">(from Odigos)</span></span>
                    <span class="passbox-col2  five-green">Rs. {{item.settled_amt}}</span>
                  </div>
                  <div class="passbox-row">
                    <span class="passbox-col1">Cash Collected <span class="five-small">(from Customer)</span></span>
                    <span class="passbox-col2  five-green">Rs. {{item.cash_collected}}</span>
                  </div>
                  <div class="passbox-row">
                    <span class="passbox-col1">Payment Pending <span class="five-small">(from Odigos)</span></span>
                    <span class="passbox-col2  five-red">Rs. {{item.payment_pending}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

