.ggHeading2  .main_heading {
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #333333;
    padding: 0 0 8px;
}
.ggHeading2 .main_heading span {
    width: 100px;
}
.passbook-tab .nav-tabs {
    border: none;
    text-align: center;
    padding-top: 15px;
}

.passbook-tab .nav-tabs > li {
    float: none;
    display: inline-block;
}
.passbook-tab .nav-tabs > li > a:hover,
.passbook-tab .nav > li > a:hover, 
.passbook-tab .nav > li > a:focus,
.passbook-tab .nav-tabs > li.active > a, 
.passbook-tab .nav-tabs > li.active > a:hover, 
.passbook-tab .nav-tabs > li.active > a:focus {
    border: none;
    background-color: #18afc4;
    color: #ffffff;
}

.passbook-tab .nav-tabs > li > a {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    padding: 8px 50px;
}
.five-wrap.row {
    padding: 0 30px;
}
.five-col {
   margin-top: 20px;
}
.five-outer {
    border: solid 1px #bab9b9;
    background: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    border-radius: 3px;
}

.five-inner {
    background-color: #f7f6f6;
    border-bottom: 1px solid #c2c2c2;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 7px;
    padding: 20px 0 15px;
	min-height: 130px;
}
.five-inner img {
    max-width: 48px;
    margin-bottom: 10px;
}
.five-inner p {
    margin: 0;
}
.five-small {
    font-size: 12px;
    padding-top: 3px;
}
.five-green {
    color: #38b963;
}
.five-red {
    color: #f44336;
}
.col-sm-12.passbook-padding {
    padding: 0 44px;
}

.passbook-inner {
	float: left;
    width: 100%;
    margin: 20px 0 0;
    border-top: 1px solid #999999;
}

.col-sm-12.passbox-wrap {
    padding: 20px 0 0;
}

.pass-box {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #979797;
    padding: 15px;
    float: left;
    width: 100%;
}

.passbox-col {
    padding: 0 30px;
	margin-bottom:30px;
}

.passbox-row1 {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #333333;
}

span.passbox-col1 {
    float: left;
}

span.passbox-col2 {
    float: right;
}

.passbox-row {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
}

.passbox-row1 .passbox-col1 {
    font-weight: 500;
}

.passbox-row1 .passbox-col2 {
    font-weight: normal;
}

.passbox-row .passbox-col2 {
    font-weight: 500;
}

@media (min-width: 768px) {
	.five-col {
		width: 20%;
	}
}
@media(max-width:991px) and (min-width:768px){
    .five-outer {
        font-size: 16px;
    }
    .five-inner {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
        min-height: 143px;
    }
    .passbox-row {
        font-size: 14px;
    }
}
@media(max-width:767px){
    .passbox-col {
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .ggHeading2 .main_heading {
        font-size: 19px;
    }
}
@media(max-width:480px){
    .five-wrap.row {
        padding: 0 15px;
    }
    .passbook-tab .nav-tabs > li > a {
        font-size: 14px;
        padding: 8px 15px;
    }
    .five-outer {
        font-size: 14px;
    }
    .five-inner {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 0px;
    }
    .five-col {
        margin-top: 15px;
    }
    .passbox-col {
        margin-bottom: 15px;
    }
    .passbox-row {
        font-size: 14px;
    }
    .col-sm-12.passbook-padding {
        padding: 0 30px;
        float: left;
    }
    .pass-box {
        padding: 15px 10px;
    }
    .passbox-row1 {
        font-size: 13px;
    }
    .passbox-row {
        font-size: 12px;
    }
}
