<button id="openModalButtonC" [hidden]="true" data-toggle="modal" data-target="#uploadimageModal">Open Modal</button>
<section class="my-trips gg-tabs container" id="guideProfileWrap">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#guideProfile" (click)="changeUrl('my-profile')" id="profile">
         My <span>Profile</span>
        </a>
      </li>
      <li><a data-toggle="tab" href="#guidePlaces" (click)="changeUrl('my-places')" id="places" [ngClass]="{'disable': !updateButtonActive}">My <span>Places</span></a></li>
      <li><a data-toggle="tab" href="#guideRating" (click)="changeUrl('rating-and-earning')" id="rate"   [ngClass]="{'disable': !updateButtonActive}">Rating &amp; <span>Earnings</span></a></li>
      <li><a data-toggle="tab" href="#guideBankDetail" (click)="changeUrl('bank')" id = "bank" [ngClass]="{'disable': !updateButtonActive}">Bank <span>Details</span></a></li>
    </ul>
    <div class="tab-content guideinnerWrap">
      <div id="guideProfile" class="tab-pane fade in active">              
        <div *ngIf="!uploadDocument" class="innerBox">
          <div class="ggHeading-wrap text-center">
            <h2 class="main_heading">Complete Your Profile<span></span></h2>
          </div>
          <div class="uploadPhotoWrap">
            <div class="row">
              <div class="col-sm-12 upload-head">
                <h4>Upload Photos / Videos</h4>
              </div>
              <div class="col-sm-4">
                <form>
                  <div class="custom-upload custom-upload1"> 
                    <div *ngIf ="!url"  class="profile-picture" 
                      [ngStyle]="{'background-image': 'url(../../assets/images/pic-group.png)'}">
                    </div>
                    <div *ngIf = "url" class="profile-picture" 
                      [ngStyle]="{'background-image': 'url(' + url + ')'}">
                    </div>
                    <button type="button" style="cursor: pointer;">
                      Profile
                    </button>
                    <input name="profileUploadInput" type="file" 
                    (change)="readUrl($event)" class="form-control">
                  </div>
                </form>
              </div>
              <div class="col-sm-4">
                <div data-target="#galleryUploadModal"  data-toggle="modal" class="custom-upload custom-upload2"> 
                  <div *ngIf="uploadImageGallery[0].img==''"  class="profile-picture" 
                    [ngStyle]="{'background-image': 'url(../../assets/images/GG-images/gallery-pic-group.png)'}">
                  </div>
                  <div *ngIf="uploadImageGallery[0].img!=''" class="profile-picture" 
                    [ngStyle]="{'background-image': 'url(' + uploadImageGallery[0].img + ')'}">
                  </div>
                  <button type="button">
                    Gallery
                  </button> 
                </div>
              </div>
              <div class="col-sm-4">
                <div class="custom-upload custom-upload3">
                  <button type="button" data-target="#youTubePopup" data-toggle="modal">
                    <img *ngIf="updatedVideoLink=='https://www.youtube.com/embed/null'" src="../../assets/images/GG-images/video-pic-group.png"/><br/>
                    <iframe *ngIf="updatedVideoLink!='https://www.youtube.com/embed/null'" class="utube-video" width="150" height="130" 
                    [src]="safeUrl" 
                    frameborder="0" allowfullscreen allowfullscreen></iframe>
                      Video
                  </button> 
                </div>
              </div>
            </div>
          </div>
          <!-- uploadPhotoWrap End-->
          <form  (ngSubmit)="submitRegistartionInfo(registartionForm.value)" #registartionForm="ngForm" class="ggForm profile-form loginValidation">
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" autocomplete="off" [(ngModel)]="formData.name" minlength="3" maxlength="20" 
                    placeholder="Enter Your Name" [ngClass]=
                    "{'validate': !name.pristine && (name.hasError('minlength') || name.hasError('required') || 
                    name.hasError('pattern'))}" class="form-control"  #name="ngModel" required>
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <div [hidden]="!name.hasError('minlength')">Name should be more than 3 alphabet</div>
                    <div [hidden]="!name.hasError('required')">Name is required</div>
                    <div [hidden]="!name.hasError('pattern')">Otp should be only numbers</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" [(ngModel)]="formData.email" placeholder="Enter your Email" 
                  [ngClass]= "{'validate': !email.pristine && (email.hasError('minlength') || 
                  email.hasError('required') || email.hasError('pattern'))}"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" #email="ngModel" required>
                  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    <div [hidden]="!email.hasError('required')">Email is required</div>
                    <div [hidden]="!email.hasError('pattern')">Email format should be
                    <small><b>joe@abc.com</b></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Primary Contact Number</label>
                  <input type="tel" name="pnumber" [(ngModel)]="formData.pnumber" 
                  placeholder="+91 - 111111111" [ngClass]= "{'validate': !pnumber.pristine && (pnumber.hasError('minlength') || 
                  pnumber.hasError('required') || pnumber.hasError('pattern'))}"class="form-control" #pnumber="ngModel"  pattern="[0-9]*"
                  minlength="10" maxlength="10" required>
                  <div [hidden]="pnumber.valid || pnumber.pristine" class="alert alert-danger">
                    <div [hidden]="!pnumber.hasError('minlength')">Mobile should be 10digit</div>
                    <div [hidden]="!pnumber.hasError('required')">Mobile is required</div>
                    <div [hidden]="!pnumber.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>  
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Secondary Contact Number<span class="label-add"> (optional)</span></label>
                  <input type="tel" name="snumber" [(ngModel)]="formData.snumber" 
                  placeholder="+91 - 111111111" [ngClass]= "{'validate': !snumber.pristine && (snumber.hasError('minlength') || 
                  snumber.hasError('required') || snumber.hasError('pattern'))}"class="form-control"  #snumber="ngModel"  pattern="[0-9]*" minlength="10" 
                  maxlength="10">
                  <div [hidden]="snumber.valid || snumber.pristine" class="alert alert-danger">
                    <div [hidden]="!snumber.hasError('minlength')">Mobile should be 10digit</div>
                    <div [hidden]="!snumber.hasError('required')">Mobile is required</div>
                    <div [hidden]="!snumber.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Language known</label>
                </div> 
                <ng-multiselect-dropdown *ngIf="selectedLanguages.length>0" class="form-control test"
                    [placeholder]="'Select Languages'"
                    [data]="languages"
                    [(ngModel)]="selectedLanguages"
                    name="language"
                    [settings]="dropdownSettings"
                    (onSelect)="onLanguageSelect($event)"
                    (onDeSelect)="onLanguageDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                  >
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown *ngIf="selectedLanguages.length==0" class="form-control test"
                  [placeholder]="'Select Languages'"
                  [data]="languages"
                  [(ngModel)]="selectedLanguages"
                  name="language"
                  [settings]="dropdownSettings"
                  (onSelect)="onLanguageSelect($event)"
                  (onDeSelect)="onLanguageDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <!-- <dp-date-picker [config]="config" #dayPicker></dp-date-picker> -->
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" (change)="getGender($event.target.value)">
                    <option [selected]="guideGender==male" value="Male">Male</option>
                    <option [selected]="guideGender==female" value="Female">Female</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Guiding Experience</label>
                  <div class="selectCombo-wrap">
                    <div class="select-combo">
                      <select class="form-control" (change)="guideExperienceYear($event.target.value)">
                        <option [selected]="guideExpInYear==0" value="0">0</option>
                        <option [selected]="guideExpInYear==1" value="1">1</option>
                        <option [selected]="guideExpInYear==2" value="2">2</option>
                        <option [selected]="guideExpInYear==3" value="3">3</option>
                        <option [selected]="guideExpInYear==4" value="4">4</option>
                      </select>
                      <span>Yrs.</span>
                    </div>
                    <div class="select-combo">
                      <select class="form-control" (change)="guideExperienceMonth($event.target.value)">
                        <option selected value="0"> 0</option>
                        <option [selected]="guideExpInMonth==1" value="1">1</option>
                        <option [selected]="guideExpInMonth==2" value="2">2</option>
                        <option [selected]="guideExpInMonth==3" value="3">3</option>
                        <option [selected]="guideExpInMonth==4" value="4">4</option>
                      </select>
                      <span>Months</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Date of Birth<span class="label-add"> (above 18Yrs)</span></label>
                  <!-- <input type="date" name="dob" [ngModel]="formData.dob | date:'yyyy-MM-dd'" 
                  (ngModelChange)="formData.dob = $event" max="2000-01-01" placeholder="28-0-2018" class="form-control date"> -->
                  <ng-datepicker [(ngModel)]="formData.dob" name="dob"></ng-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>About Me</label>
                  <!-- <textarea name="about_me" [(ngModel)]="formData.about" placeholder="Type Here" 
                  [ngClass]= "{'validate2': !about.pristine && (about.hasError('minlength') || 
                  about.hasError('required') || about.hasError('pattern'))}" #about="ngModel" class="form-control" minlength="20" required>
                  </textarea> -->
                  <app-ngx-editor [placeholder]="'Enter text here...'" 
                  [spellcheck]="true" [(ngModel)]="formData.about" 
                  name="about_me"></app-ngx-editor>

                  <!-- <div [hidden]="about.valid || about.pristine" class="alert alert-danger">
                    <div [hidden]="!about.hasError('minlength')">Min length should be 20 characters</div>
                    <div [hidden]="!about.hasError('required')">About me is required</div>
                    <div [hidden]="!about.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>   -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Address</label>
                  <textarea name="address" [(ngModel)]="formData.address" placeholder="Type your address here" 
                  [ngClass]= "{'validate2': !address.pristine && (address.hasError('minlength') || 
                  address.hasError('required') || address.hasError('pattern'))}"#address="ngModel" class="form-control" minlength="10" required></textarea>
                  <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                    <div [hidden]="!address.hasError('minlength')">Address should be 10 characters</div>
                    <div [hidden]="!address.hasError('required')">Address is required</div>
                    <div [hidden]="!address.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State</label>
                  <select *ngIf="guideSelectedState!=''" class="form-control"  (change)="selectedState($event.target.value)">
                    <option  selected>Select</option> 
                    <option *ngFor="let state of stateList" [selected]="guideSelectedState==state.id" value={{state.id}} >
                      {{state.name}}
                    </option>
                  </select>
                  <!-- if state not loaded -->
                  <select *ngIf="guideSelectedState==''" class="form-control"  (change)="selectedState($event.target.value)">
                    <option  selected>Select</option> 
                    <option *ngFor="let state of stateList" [selected]="guideSelectedState==state.id" value={{state.id}} >
                      {{state.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group" (click)="checkStateSelected()">
                  <label>City</label>
                  <select *ngIf="guideSelectedCity!=''" class="form-control" (change)="selectdeCity($event.target.value)">
                    <option value="" selecte>Select</option>
                    <option *ngFor="let city of cityList" [selected]="guideSelectedCity==city.id" value={{city.id}}>{{city.name}}</option>
                  </select>
                  <!-- if city not loaded -->
                  <select *ngIf="guideSelectedCity==''" class="form-control" (change)="selectdeCity($event.target.value)">
                    <option value="" selecte>Select</option>
                    <option *ngFor="let city of cityList" [selected]="guideSelectedCity==city.id" value={{city.id}}>{{city.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Pincode</label>
                  <input type="text" name="pincode" [(ngModel)]="formData.pinCode" placeholder="122001" 
                  class="form-control" pattern="[0-9]*" minlength="6" maxlength="6" autocomplete="off" 
                  #pin= "ngModel"required>
                  <div [hidden]="pin.valid || pin.pristine" class="alert alert-danger">
                    <div [hidden]="!pin.hasError('minlength')">PIN should be 6 characters</div>
                    <div [hidden]="!pin.hasError('required')">PIN is required</div>
                    <div [hidden]="!pin.hasError('pattern')">PIN should be only numbers</div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" *ngIf="!updateButtonActive" class="btn btn-submit" [disabled]="!registartionForm.form.valid">Next</button>
              <button type="submit" *ngIf="updateButtonActive"  class="btn btn-submit" [disabled]="!registartionForm.form.valid">Update & Next</button>
            </div>
          </form>
        </div>      
        <app-upload-document *ngIf="uploadDocument"></app-upload-document>       
      </div>

      <div id="guidePlaces" class="tab-pane fade">
        <app-create-package></app-create-package>      
      </div>            
      <div id="guideRating" class="tab-pane fade">
        <app-rating-and-earning></app-rating-and-earning>
      </div>           
      <div id="guideBankDetail" class="tab-pane fade">
        <app-bank-detail></app-bank-detail>
      </div>

    </div>
  </div>
</section>

<!-- gallery upload  -->
<div id="galleryUploadModal" class="modal fade gg-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <img src="../../assets/images/cross-icon.png" alt="Close">
        </button>
        <h4 class="modal-title">Please upload the images.</h4>
      </div> 
      <div class="modal-body">
        <div class="row">
          <form action="" method="post">
            <div class="col-sm-3 col-xs-6" *ngFor="let item of uploadImageGallery; let i=index">
              <div class="custom-upload custom-upload2"> 
                <div *ngIf="item.img==''" class="twitter-feed-image margin-5" 
                  [ngStyle]="{'background-image': 'url(' + item.default + ')'}">
                </div>
                <div *ngIf="item.img!=''" class="twitter-feed-image margin-5" 
                  [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
                </div>
                <img  class="fa fa-edit update-button" *ngIf="item.img!=''" src="../../assets/images/edit-group.png">
                  <input name="galleryUploadInput" (change)="uploadGallery($event , i , item.id)" 
                  type="file" class="form-control" multiple/>
              </div>
            </div>
          </form>
        </div>
      </div>            
    </div>
  </div>
</div>

<!-- video pop up -->
<div id="youTubePopup" class="modal fade gg-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <img src="../../assets/images/cross-icon.png" alt="Close">
        </button>
        <h4 class="modal-title">Enter YouTube URL</h4>
      </div>  
      <div class="modal-body">
        <form action="" method="post"> 
          <div class="form-group">
            <input type="text" name="youTubeUrl" class="form-control" #link>
          </div>
          <button type="submit" class="btn btn-submit" data-dismiss="modal" (click)="uploadVideo(link.value)">Update</button>
          <!--</div>-->
        </form>
      </div> 
    </div>    
  </div>  
</div>

  
<!-- image cropper ui -->
<div id="uploadimageModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload & Crop Image</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 text-center">
            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="200 / 200"
            [resizeToWidth]="128"
            format="png, jpg , jpeg"
            (imageCroppedBase64)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </div>
          <div class="col-md-4" style="padding-top:30px;">
            <br/>
            <br/>
            <br/>
            <button *ngIf = "!gallery" class="btn btn-success crop_image" data-dismiss="modal" (click)="uploadAndCropProfile()">Crop & Upload Image</button>
            <button *ngIf = "gallery" class="btn btn-success crop_image" data-dismiss="modal" (click)="uploadAndCropGallery()">Crop & Upload Gallery</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>