
/*-------------- Guide Profile style -------------*/

ng-datepicker::ng-deep .ngx-datepicker-container .ngx-datepicker-calendar-container{
    z-index: 3;
}
ng-datepicker::ng-deep .ngx-datepicker-container .ngx-datepicker-input{
      font-size: 16px !important;
      color: #333333 !important;
      font-weight: normal !important;
      height: auto !important;
      border: none !important;
      padding: 2px 0px 6px !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      appearance: none !important;
      -ms-appearance: none !important;
      -moz-appearance: none !important;
      -webkit-appearance: none !important;
      outline: none !important;
      background: none !important;
      border-bottom: 1px solid #edecec !important;
      text-decoration: none !important;
      width: 371px !important;
}

.ggForm .form-control.date::-webkit-inner-spin-button,
.ggForm .form-control.date::-webkit-calendar-picker-indicator {
    opacity: 0;
   -webkit-appearance: none;
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.dropdown-icons .dropdown-menu li a img {
    max-width: 18px;
    position: relative;
    margin-right: 10px;
    top: -1px;
  }
  .ggHeading-wrap .main_heading {
      text-align: center;
      text-transform: none;
      font-size: 19px;
      padding-bottom: 15px;
      margin-top: 0;
      letter-spacing: 1px;
  }
  .ggHeading-wrap .main_heading span {
      width: 150px;
  }
  .guideinnerWrap {
      background: #ffffff;
      padding: 10px 0 20px;
  }
  .my-trips.gg-tabs {
      padding: 20px 0;
  }
  .innerBox {
      margin: 0 auto;
      max-width: 930px;
      width: 100%;
  }
  .uploadPhotoWrap {
      border: 1px solid #979797;
      padding: 25px 15px;
      text-align: center;
      margin-bottom: 25px;
  }
  .upload-head h4 {
      font-family: HelveticaNeue;
      font-size: 16px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #333333;
      margin: 0 0 16px;
  }
  .custom-upload button {
      font-family: HelveticaNeue;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #333333;
      padding: 0;
      background: transparent;
      box-shadow: none;
      border: none;
  }

  .custom-upload button img {
      margin-bottom: 10px;
  }
  .custom-upload input.form-control {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      cursor: pointer;
  }
  
  .custom-upload {
      position: relative;
      width: 120px;
      margin: 0 auto;
  }
  .custom-upload .utube-video{
    margin-top: -30px;
    margin-left: -11px;
  }
  .custom-upload .update-button{
    position: absolute;
    bottom: -15px;
    right: -27px;
    padding: 4px;
    line-height: 0;
    font-size: 2em;
  }
  .ggForm .form-group {
      margin-bottom: 25px;
  }
  .ggForm .form-group label {
      font-size: 14px;
      color: #797979;
      font-weight: 300;
      display: block;
      line-height: normal;
  }
  .ggForm .form-control {
      font-size: 16px;
      color: #333333;
      font-weight: normal;
      height: auto;
      border: none;
      padding: 2px 0px 6px;
      box-shadow: none;
      border-radius: 0;
      appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none !important;
      background: none !important;
      border-bottom: 1px solid #edecec;
      text-decoration: none !important;
  }
  .ggForm .validate{
    border-bottom:1px solid rgb(255,97,97);
  }
  .ggForm textarea.validate2{
    border:1px solid rgb(255,97,97) !important;
  }
  .ggForm select.form-control {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: url(../../assets/images/select-arrow.png) no-repeat right center !important;
  }
  .selectCombo-wrap {
      display: block;
  }
  .select-combo {
      width: 120px;
      display: inline-block;
  }
  .select-combo select.form-control {
      display: inline-block;
      width: 45%;
  }
  .select-combo span {
      display: inline-block;
      width: 50%;
      font-size: 16px;
      color: #333333;
      padding-left: 5px;
  }
  .ggForm .form-control.date {
      background: url(../../assets/images/date-icon.png) no-repeat right 16px !important;
      padding-right: 6px;
  }
  .ggForm textarea.form-control {
      border-radius: 5px;
      border: solid 1px #edecec;
      min-height: 95px;
      padding: 5px 10px;
  }
  app-ngx-editor::ng-deep .ngx-editor .ngx-wrapper .ngx-editor-textarea{
     min-height: 100px !important;
  }
app-ngx-editor::ng-deep .ngx-editor .ngx-wrapper 
.ngx-editor-placeholder{
    z-index: 0 !important;
}
  .btn-submit {
	font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
	letter-spacing: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.btn-submit:focus {
    color: #18afc4;
    background: #ffffff;
}
  .ggForm .btn-submit {
      font-size: 18px;
      color: #ffffff;
      font-weight: 500;
      line-height: normal;
      width: 40%;
      border: none;
      padding: 7px 15px;
      border-radius: 4px;
      background: #18afc4;
      margin: 15px auto;
      transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      border: 1px solid #18afc4;
      display: block;
  }
  .ggForm .btn-submit:hover {
      color: #18afc4;
      background: #ffffff;
  }
  .ggForm .btn-submit:focus {
      color: #ffffff;
  }
  .my-trips .nav-tabs {
    box-shadow: 0 2px 4px #b7b7b7;
    border-bottom: 2px solid #18afc4;
}
.my-trips .nav-tabs li a {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    line-height: normal;
    padding: 14px 15px;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 0;
    background: #fefefe;
    letter-spacing: 0.5px;
    border-right: 1px solid rgba(24, 175, 196, 0.5);
}
.my-trips .nav-tabs li.active a {
    border: none;
    color: #ffffff;
    background: #18afc4;
}
.my-trips .nav-tabs li:first-child a {
    border-radius: 4px 0 0 0;
}
.my-trips .nav-tabs li:last-child a {
    border-radius: 0 4px 0 0;
    border-right: none;
}
.my-trips .nav-tabs li {
	margin: 0;
	width: 25%;
	text-align: center;
}
.custom-drop-down{
    display: inline-block;
    border:none !important;
    background-color: red;
}
.ggForm .btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
/* validation css */
.loginValidation{
    position:relative;
}
.loginValidation .alert::before{
    content: "A";
    position: absolute;
    bottom: 100%;
    left: 10px;
    top: -10px;
    font-size: 1px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.alert.alert-danger::before{
    border-color: transparent transparent #F0F0F0 transparent;
}
.alert.alert-danger{
    /* background: red; */
    background:  #F0F0F0;
}
.alert{
    font-size: 12px;
    padding: 5px 17px;
    position: absolute;
    color:rgb(255,97,97);
    top:73%;
    text-align: left;
    border:none;
    z-index: 10;
    text-shadow: none;
}
ng-multiselect-dropdown.test{
    margin-top: -21px !important;
}
ng-multiselect-dropdown.test::ng-deep .multiselect-dropdown[_ngcontent-c4] .dropdown-btn[_ngcontent-c4] {
    border: none !important;
    margin-top: -4px;
    padding: 0;
    font-size: 16px;
}
ng-multiselect-dropdown.test::ng-deep .multiselect-dropdown .dropdown-btn{
    padding : 0;
    border: none;
}
.innerBox {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}
/* validation css end */
@media(max-width: 991px){
    .innerBox {
        margin: 0 10px;
        width: auto;
    }
}
@media(max-width: 820px){
    .my-trips .nav-tabs li a {
        padding: 14px 5px;
    }
}

@media(max-width: 600px){
    .my-trips .nav-tabs li a {
        font-size: 13px;   
        padding: 8px 5px;
    }
    .my-trips .nav-tabs li a span {
        display: block;
    }
}
#galleryUploadModal .custom-upload {
    width: 100%;
    max-width: 180px;
    min-height: 170px;
}
@media (min-width: 768px) {
	#galleryUploadModal .modal-dialog {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.gg-popup .modal-content {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	}
}

.gg-popup.modal.in .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
}
.gg-popup .close {
    float: right;
    font-size: 21px;
    font-weight: normal;
    line-height: 1;
    color: #666666;
    text-shadow: 0 0px 0 transparent;
    filter: alpha(opacity=100);
    opacity: 1;
    position: absolute;
    right: 15px;
    top: 15px;
}
.gg-popup .modal-title {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #333333;
}
.gg-popup .close:hover, 
.gg-popup .close:focus {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
.gg-popup .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 30px 35px;
}
.gg-popup .modal-header {
    padding: 0px;
    border-bottom: none;
}
.gg-popup .form-control {
    height: auto;
    margin: 0 auto;
    border: 1px solid #edecec;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.gg-popup .modal-body {
    padding: 15px 15px 0;
}
.gg-popup .btn-submit {
    max-width: 350px;
}
.twitter-feed-image {
    border-radius:8px;
    height: 184px;
    background-size: cover;
}
.margin-5{
    margin: 20px -3px;
}
.profile-picture {
    height: 120px;
    background-size: cover;
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.gg-tabs .disable{
    pointer-events: none;
    opacity: 0.6;
}    
@media(max-width: 767px){
    .my-trips .nav-tabs li a {
        font-size: 14px;        
    }
    .my-trips .nav-tabs {
        margin-top: 60px;
    }  
    .ggForm .btn-submit {
        font-size: 11px;
    } 
}

