
  <div class="bread-crumb">
    <p>My Trips &nbsp; > &nbsp; <a href="#">Request Trips</a></p>
    <p>Showing 1 - 4 of 50 Result</p>
  </div>
  <div class="row">
    <!-- if no trip -->
    <div *ngIf = "noTrip" class="no-trips">
      <p><img src="../../assets/images/no-trips.png" alt="No Trips" class="img-responsive"></p>
      <p class="no-trips-content">Say yes to new adventures!</p>
      <!-- <p><a href="#" class="btn button1 text-uppercase">Waiting..</a></p> -->
    </div>
    <!-- end if no trip -->
  
  <div class="row" *ngIf = "!noTrip">
    <div *ngFor = "let item of tripDetails; let i = index;" class="col-sm-6">
      <div class="listing clearfix">
        <div class="listing-left">
          <a href="#"><img [src]="item.tourist_image" alt="guide3" class="img-responsive"></a>
          <!-- <span class="guide-fee">$ 120</span> -->
        </div>
        <div class="listing-right">
          <h3><a href="#">{{item.tourist_name}}</a> &nbsp;<span>({{item.language_name}})</span></h3>
          <!-- <a href="#" class="cancel-btn">Cancel</a> -->
          <div class="guide-detail row">
            <div class="col-xs-6 text-left">
              <h4><span>Tour</span>{{item.tour_name}}</h4>
              <a *ngIf = "item.request_status != requestStatus.accept" data-target="#yesNoPopup3" data-toggle="modal" class="btn button6 text-uppercase">REJECT REQUEST</a>
              <a *ngIf = "item.request_status == requestStatus.accept" data-target="#yesNoPopup2" data-toggle="modal" class="btn button6 text-uppercase">CANCEL REQUEST</a>
            </div>
            <div class="col-xs-6 text-right">
              <h4><span>Date</span>{{item.date_of_tour}}</h4>
              <a *ngIf = "item.request_status != requestStatus.accept" data-target="#yesNoPopup" data-toggle="modal" class="btn button8 text-uppercase">ACCEPT REQUEST</a>
              <a *ngIf = "item.request_status == requestStatus.accept" style="text-decoration: none"
              class = "button7 text-uppercase">PAYMENT PENDING</a>
              <span class="time-remain" *ngIf = "item.request_status != requestStatus.accept">Time remaining - {{item.time_remaining | number:'2.0-0'}} hours</span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="view-details" (click) = "getTourDetail(item.id, 'REQUESTS', item.booking_id , item)" 
        data-toggle = "collapse" [attr.data-target]="'#' + item.id">View Details</div>
      </div>
      <!-- view details -->
      <div class="detail-box collapse" *ngIf=item.hideModal id = {{item.id}}>
        <a class="close detail-close" style="opacity:1;" (click)= "closeViewDetail()"><img src="../../assets/images/cross-icon.png" width="12" alt="X"></a>
        <div class="row">
          <div *ngIf = "tripsDetailPop" class="col-sm-10 col-sm-offset-1">
            <ul class="pending-trips-detail">
              <li><img src="../../assets/images/booking-icon.png" alt="Destination"> Booking Rate<span>{{tripsDetailPop.guide_charges}}</span></li>
              <li><img src="../../assets/images/language-icon.png" alt="Tour Date"> Tour Language<span>{{tripsDetailPop.language_name}}</span></li>
              <li><img src="../../assets/images/country-icon.png" alt="Booking Rate"> Country<span>{{tripsDetailPop.country_name}}</span></li>
              <li><img src="../../assets/images/person-icon.png" alt="Duration"> No. of Persons<span>{{numOfPersons}}</span></li>
              <!-- <li><img src="../../assets/images/status-icon.png" alt="Status"> Status<span style="color:#e89c59;">Pending</span></li> -->
            </ul>
          </div>
        </div>
      </div> 
      <!--Accept Yes No Popup --> 
      <div id="yesNoPopup" class="modal fade gg-popup" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <img src="../../assets/images/cross-icon.png" alt="Close">
              </button>
              <h4 class="modal-title">Are you sure you want to accept the request?</h4>
            </div>
            <div class="modal-body">
              <button type="button" id = "close" data-dismiss="modal" class="btn btn-nosubmit">No</button>
              <button type="button" (click) = "cancelRequest(item.user_id , item.id)" class="btn btn-submit">Yes</button>
            </div>     
          </div>
        </div>
      </div>
      <!--Yes No Popup --> 
      <!--cancel Yes No Popup --> 
      <div id="yesNoPopup2" class="modal fade gg-popup" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <img src="../../assets/images/cross-icon.png" alt="Close">
              </button>
              <h4 class="modal-title">Are you sure you want to cancel the request?</h4>
            </div>
            <div class="modal-body">
              <button type="button" id = "close3" data-dismiss="modal" class="btn btn-nosubmit">No</button>
              <button type="button" (click) = "acceptRequest(item.user_id , item.id)" class="btn btn-submit">Yes</button>
            </div>     
          </div>
        </div>
      </div>
      <!--Yes No Popup --> 
       <!--cancel Yes No Popup --> 
       <div id="yesNoPopup3" class="modal fade gg-popup" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <img src="../../assets/images/cross-icon.png" alt="Close">
              </button>
              <h4 class="modal-title">Are you sure you want to reject the request?</h4>
            </div>
            <div class="modal-body">
              <button type="button"  id = "close2" data-dismiss="modal" class="btn btn-nosubmit">No</button>
              <button type="button" (click) = "rejectRequest(item.user_id , item.id)" class="btn btn-submit">Yes</button>
            </div>     
          </div>
        </div>
      </div>
      <!--Yes No Popup --> 

      <!-- view details -->
    </div>
  </div>
</div>


  
  
  