@media(min-width:1021px){
    #guideRating .innerBox {
        margin: 0 auto;
        max-width: 885px;
        width: 100%;
    }
}

#guideRating  {
    padding: 30px 0 0;
}
.btn-submit {
    max-width: 350px;
}
.btn-submit {
	font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
	letter-spacing: normal;
    width: 40%;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    background: #18afc4;
    margin: 15px auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    border: 1px solid #18afc4;
    display: block;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #18afc4;
    background: #ffffff;
}
.btn-submit:focus {
    color: #18afc4;
    background: #ffffff;
}

/*----- common css -----*/
.uploadPhotoWrap {
    border: 1px solid #979797;
    padding: 25px 15px;
    text-align: center;
    margin-bottom: 25px;
 }
 .ggHeading-wrap .main_heading {
    text-align: center;
    text-transform: none;
    font-size: 19px;
    padding-bottom: 15px;
    margin-top: 0;
    letter-spacing: 1px;
 }
 .ggHeading-wrap .main_heading span {
    width: 150px;
 }
 /*----- common css -----*/
.starRating-wrap {
    background: url(../../assets/images/strip.png) no-repeat 38px 16px;
    max-width: 305px;
    margin: 15px auto 0;
}

.startRating-value {
    display: inline-block;
    background: url(../../assets/images/big-star.png) no-repeat 0px 0px;
    width: 78px;
    padding: 22px 20px 28px;
}
.startRating-rate {
    display: inline-block;
    width: 200px;
}

.startRating-rate button {
    background: transparent;
    display: inline-block;
    border:  none;
    margin: 0;
    padding: 0px 0px 0 0;
    box-shadow:  none;
    width: 30px;
}
.ratingBox-wrap {
    padding: 0 10%;
}
.rating-box {
    float: left;
    width: 31%;
    border: 1px solid #979797;
    margin-right: 23px;
    padding: 25px 15px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}
.rating-box p {
    margin-bottom: 5px;
}
.ratingBox-wrap {
    padding: 0 10%;
    margin-bottom: 40px;
}

.rating-box.rating-box3 {
    margin-right: 0;
}
.ratingbox-img {
    margin-bottom: 15px;
}
p.ratingbox-value {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #18afc4;
}
.current-rating {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}
.current-rating span {
    padding: 0 0 0 45px;
    position: relative;
    top: -10px;
}
#guideRating .btn-submit {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 1020px){
    #guideRating .innerBox {
        padding: 0 15px;
    }
}
@media(max-width: 992px){
    .rating-box {
        margin-right: 19px;
    }
}

@media(max-width: 767px){
    .starRating-wrap {
        background: #18afc4;
        margin: 15px auto 0;
        position: relative;
        padding: 0 0 0 15px;
    }
    .startRating-value {
        background: url(../../assets/images/big-star.png) no-repeat 0px 0px;
        width: auto;
        padding: 16px 15px 15px;
        position: absolute;
        left: -18px;
        top: -12px;
        background-size: contain;
        font-size: 13px;
    }
    .startRating-rate {
        display: block;
        width: 100%;
    }
    .startRating-rate button {
        margin: 0;
        padding: 0px 0px 0 0;
        box-shadow: none;
        width: 20px;
    }
    .startRating-rate button img {
        max-width: 100%;
        vertical-align: top;
    }
    .current-rating {
        font-size: 13px;
        margin-top: 5px;
    }
    .current-rating span {
        padding: 0;
        top: 0;
    }
    .ratingBox-wrap {
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .rating-box {
        float: none;
        width: 100%;
        margin: 0px 0 15px;
        padding: 20px 15px;
        font-size: 14px
    }
    .ratingbox-img img {
        max-width: 55px;
    }
    .ratingbox-img {
        margin-bottom: 10px;
    }
    p.ratingbox-value {
        font-size: 16px;
    }
    .btn-submit {
        font-size: 14px;
        width: 60%;
    }       
}
@media(max-width: 480px){
    .starRating-wrap {
        max-width: 100%;
        margin: 15px 0 0;
    }
}


