<div id="guideRating" *ngIf = "!showPassbook" class="tab-pane fade in active">
  <div class="innerBox">   
    <div class="uploadPhotoWrap">
      <div class="ggHeading-wrap text-center">
        <h2 class="main_heading ">Rating & Earnings<span></span></h2>
      </div> 
      <div class="row">    
        <div class="col-sm-12">     
          <div class="starRating-wrap">
            <div class="startRating-value">
              <span *ngIf="ratingData">{{ratingData.star_ratings}}</span>
            </div>
            <div class="startRating-rate">
              <button type="button" *ngFor = "let a of starRating" class="btn btn-default rating-btn1"><img src="../../assets/images/star-1.png" alt=""></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="current-rating"><span>Your Current Rating</span></p>
      </div>
      <div class="row">
        <div class="col-sm-12 ratingBox-wrap">
          <div class="rating-box rating-box1">
            <div class="ratingbox-img">
              <img src="../../assets/images/t.png" alt="dd">
            </div>
            <p>Total Tours</p>
            <p *ngIf = "ratingData" class="ratingbox-value">{{ratingData.total_tours}}</p>
          </div>
          <div class="rating-box rating-box2">
            <div class="ratingbox-img">
              <img src="../../assets/images/earning-group-icon.png" alt="">
            </div>
            <p>Total Earnings</p>
            <p class="ratingbox-value">0</p>
          </div>
          <div class="rating-box rating-box3">
            <div class="ratingbox-img">
              <img src="../../assets/images/cancel-group-icon.png" alt="">
            </div>
            <p>Cancelled Tours</p>
            <p *ngIf = "ratingData" class="ratingbox-value">{{ratingData.cancelled_tours}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" (click) = "viewPassbook()" class="btn btn-submit">View Passbook</button>
      </div>
    </div>
  </div>  
</div>
<!-- view passbook -->
<div *ngIf = "showPassbook">
  <app-view-passbook></app-view-passbook>
</div>