/*------------------------Inner Banner----------------------*/
.banner-header {
	background: url("../../assets/images/inner-banner.jpg") no-repeat center top;
	background-size: cover;
	min-height: 300px;
	position: relative;
}
.banner-header h1 {
	top: 60%;
	left: 50%;
	width: 100%;
	margin: 0;
	position: absolute;
	padding: 0 15px 15px;
    transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
	-ms-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
}
@media (max-width: 1199px) {
	.banner-header {
		min-height: 230px;
	}
}
@media (max-width: 767px) {
	.banner-header {
		min-height: 180px;
	}
}
/*------------------------Main Content----------------------*/
.main-content {
	padding: 50px 0;
	background: #ffffff;
}
.gray-box {
	padding: 15px;
	background: #f4f4f4;
}
.inner-heading1 {
	position: relative;
}
.inner-heading1 span {
	left: 0;
    transform: none;
	background: url("../../assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.inner-heading2 {
	font-size: 22px;
	color: #ffffff;
	line-height: 1.4;
	font-weight: 500;
	padding: 7px 10px;
	text-align: center;
	background: #18afc4;
	margin-bottom: 20px;
	letter-spacing: 0.7px;
}
.inner-heading2::after {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #18afc4;
}
.main-content .copy-content {
	font-size: 12px;
	line-height: 1.2;
}
.main-content .main-inner {
	margin-bottom: 35px;
}
.main-content .list-level1 {
	margin: 5px 0 5px;
	padding: 0 0 0 20px;
	list-style-type: lower-roman;
}
.main-content .list-level1 li {
    margin: 0 0 12px;
    padding-left: 5px;
}
.main-content .list-level2 {
	margin: 5px 0 5px;
	padding: 0 0 0 20px;
	list-style-type: lower-alpha;
}
.main-content .list-level2 li {
    margin: 0 0 12px;
    padding-left: 5px;
}
.main-content.content-text {
	font-size: 15px;
}
@media (max-width: 767px) {
	.main-content {
		padding: 20px 0;
	}
	.main-content .main-inner {
		margin-bottom: 20px;
	}
	.main-content.content-text {
		font-size: 12px;
		letter-spacing: 0.6px;
	}
	.inner-heading2 {
		font-size: 20px;
		margin-top: 30px;
		padding: 5px 10px;
	}
}
@media (max-width: 480px) {
	.inner-heading2 {
		font-size: 18px;
		margin-bottom: 10px;
	}
}