/* You can add global styles to this file, and also import other style files */
/* Heading, Fonts, listing, Buttons  */


@font-face {
	font-family: "HelveticaNeue";
	font-weight: normal;
	src: url("./assets/fonts/HelveticaNeue.eot") format("eot");
}
@font-face {
	font-family: "HelveticaNeue";
	font-weight: normal;
	src: url("./assets/fonts/HelveticaNeue.ttf") format("ttf"),
		 url("./assets/fonts/HelveticaNeue.woff") format("woff"),
		 url("./assets/fonts/HelveticaNeue.woff2") format("woff2");
}
@font-face {
	font-family: "HelveticaNeue";
	font-weight: 300;
	src: url("./assets/fonts/HelveticaNeue-Light.eot") format("eot");
}
@font-face {
	font-family: "HelveticaNeue";
	font-weight: 300;
	src: url("./assets/fonts/HelveticaNeue-Light.ttf") format("ttf"),
		 url("./assets/fonts/HelveticaNeue-Light.woff") format("woff"),
		 url("./assets/fonts/HelveticaNeue-Light.woff2") format("woff2");
}
@font-face {
	font-family: "HelveticaNeue";
	font-weight: 500;
	src: url("./assets/fonts/HelveticaNeue-Medium.eot") format("eot");
}
@font-face {
	font-family: "HelveticaNeue";
	font-weight: 500;
	src: url("./assets/fonts/HelveticaNeue-Medium.ttf") format("ttf"),
		 url("./assets/fonts/HelveticaNeue-Medium.woff") format("woff"),
		 url("./assets/fonts/HelveticaNeue-Medium.woff2") format("woff2");
}
body {
	font-family: "HelveticaNeue";
	font-size: 18px;
	color: #666666;
	line-height: 1.56;
	font-weight: normal;
	background: #f4f4f4;
}
/*for ie8{
	background:rgba(255, 255, 255, 0.56);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); 
}*/
/*also use rgba to hex conertor*/
.thumbnail{
	margin-bottom: 10px;
}
.img-responsive{
	display: inline-block;
}
figure {
	margin:0;
	padding:0;
}
button {
	outline: none !important;
}
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	height: 36px;
}
a {
	color: #18afc4;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
button {
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
a:hover {
	color: #18afc4;
	outline: none;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
.button1 {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	line-height: 22px;
	border: none;
	padding: 9px 20px;
	border-radius: 4px;
	background: #18afc4;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	max-width: 33%;
	display: block;
	margin: 5px auto 0;
	border: 1px solid #18afc4;
	box-shadow: 0 0 2px rgba(226, 226, 226, 0.5);
}
.button1:focus {
	color: #ffffff;
}
.button1:hover {
	color: #18afc4;
	background: #ffffff;
}
.button2 {
	font-size: 18px;
	color: #18afc4;
	font-weight: 500;
	line-height: normal;
	border: none;
	padding: 0;
	border-radius: 0;
	background: none;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}
.button2:focus {
	color: #18afc4;
}
.button2:hover {
	color: #18afc4;
}
.button3 {
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	line-height: normal;
	border: none;
	padding: 9px 50px;
	border-radius: 4px;
	background: #18afc4;
	letter-spacing: 0.5px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	margin: 5px auto 0;
	border: 1px solid #18afc4;
	box-shadow: 0 0 2px rgba(226, 226, 226, 0.5);
}
.button3:focus {
	color: #ffffff;
}
.button3:hover {
	color: #18afc4;
	background: #ffffff;
}
.button4 {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	width: 100%;
	border: none;
	padding: 7px 15px;
	border-radius: 4px;
	background: #18afc4;
	margin: 15px auto;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	border: 1px solid #18afc4;
}
.button4:focus {
	color: #ffffff;
}
.button4:hover {
	color: #18afc4;
	background: #ffffff;
}
.button5 {
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	line-height: normal;
	border: none;
	padding: 7px 40px 8px;
	border-radius: 4px;
	background: #18afc4;
	letter-spacing: 0.5px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	border: 1px solid #18afc4;
	box-shadow: 0 0 2px rgba(226, 226, 226, 0.5);
}
.button5:focus {
	color: #ffffff;
}
.button5:hover {
	color: #18afc4;
	background: #ffffff;
}
.button6 {
	font-size: 14px;
	color: #18afc4;
	font-weight: 500;
	line-height: normal;
	border: none;
	border-radius: 4px;
	background: #ffffff;
	padding: 6px 20px 7px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	border: 1px solid rgba(24, 175, 196, 0.5);
	box-shadow: 0 2px 4px 2px rgba(226, 225, 225, 0.5);
}
.button6:focus {
	color: #18afc4;
}
.button6:hover {
	color: #ffffff;
	background: #18afc4;
}
.button7 {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	border: none;
	border-radius: 4px;
	background: #18afc4;
	padding: 6px 20px 7px;
	text-decoration: none;
	border: 1px solid #18afc4;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	box-shadow: 0 2px 2px 1px rgba(141, 225, 237, 0.5);
}
.button7:focus {
	color: #ffffff;
}
.button7:hover {
	color: #18afc4;
	background: #ffffff;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
@media (max-width: 480px) {
	.button1 {
		width: 55%;
		max-width: none;
		font-size: 15px;
		line-height: 22px;
		padding: 5px 20px;
	}	
	.button2 {
		font-size: 15px;
	}
	.button3 {
		font-size: 15px;
		line-height: 22px;
		padding: 5px 20px;
	}
}

.main_heading {
	font-size: 30px;
	color: #333333;
	font-weight: 500;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	padding-bottom: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.main_heading span {
	left: 50%;
	bottom: 0;
	height: 10px;
	width: 187px;
	position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	background: url("./assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.main_heading2 {
	font-size: 30px;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.3;
	position: relative;
	padding-bottom: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.main_heading2 span {
	left: 50%;
	bottom: 0;
	height: 10px;
	width: 187px;
	position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	background: url("./assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.heading1 {
	font-size: 24px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
	position: relative;
	margin: 15px 0 20px;
	padding-bottom: 15px;
	letter-spacing: 0.9px;
}
.heading1 span {
	left: 50%;
	bottom: 0;
	height: 6px;
	width: 110px;
	position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	background: url("./assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.heading2 {
	font-size: 24px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	margin: 0 0 10px;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
.heading3 {
	font-size: 20px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
	margin: 15px 0 10px;
	letter-spacing: 0.6px;
}
.heading3 span {
	font-size: 18px;
	font-weight: normal;
}
.heading4 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	margin-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.heading5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 2px;
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.42);
}
.heading5 span {
	left: 50%;
	bottom: 0;
	height: 6px;
	width: 110px;
	position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	background: url("./assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.footer-heading {
	font-size: 22px;
	color: #ffffff;
	font-weight: 500;
	line-height: normal;
	margin: 0 0 15px;
	position: relative;
	padding-bottom: 5px;
	letter-spacing: 0.9px;
}
.footer-heading::after {
	left: 0;
	bottom: 0;
	content: "";
	width: 60px;
	height: 2px;
	position: absolute;
	border-radius: 1px;
	background-color: #ffffff;
}
@media (max-width: 1199px) {
	.main_heading,
	.main_heading2 {		
		font-size: 25px;
		padding-bottom: 20px;
	}
	.heading1 {
		font-size: 20px;
		margin: 15px 0;
	}
	.heading2 {
		font-size: 20px;
	}
	.footer-heading {
		font-size: 20px;
	}
}
@media (max-width: 991px) {
	.main_heading,
	.main_heading2 {
		font-size: 22px;
		padding-bottom: 15px;
	}
	.heading1,
	.heading2 {
		font-size: 19px;
	}
	.heading3,
	.heading4,
	.heading5 {
		font-size: 18px;
	}
	.heading3 span {
		font-size: 16px;
	}
	.footer-heading {
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.main_heading,
	.main_heading2 {
		font-size: 20px;
		margin: 10px 0 15px;
	}
	.heading1,
	.heading2 {
		font-size: 18px;
		letter-spacing: 1px;
	}
	.heading3,
	.heading4,
	.heading5 {
		font-size: 17px;
	}
	.heading3 span {
		font-size: 15px;
	}
	.footer-heading {
		font-size: 17px;
	}
}
@media (max-width: 640px) {
	.main_heading span,
	.main_heading2 span {
		width: 110px;
	}
	.heading1 span,
	.heading5 span {
		width: 90px;
	}
	.heading1 {
		margin: 10px 0;
	}
	.heading3,
	.heading4,
	.heading5 {
		font-size: 16px;
	}
	.heading3 span {
		font-size: 14px;
	}
	.heading4 {
		text-align: center;
	}
}
@media (max-width: 480px) {
	.main_heading,
	.main_heading2 {
		font-size: 18px;
		letter-spacing: 1px;
	}
	.heading1 {
		font-size: 16px;
		padding-bottom: 10px;
	}
	.heading2 {
		font-size: 15px;
	}
	.heading3 {
		font-size: 15px;
		margin: 0 0 10px
	}
	.footer-heading {
		margin: 0;
		text-align: center;
		padding-bottom: 4px;
	}
	.footer-heading::after {
		left: 50%;
		height: 1px;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
}
