.main-banner {
	position: relative;
}
.main-banner .carousel-indicators li {
	width: 13px;
	height: 13px;
	margin: 1px 5px;
	background: #a4a4a4;
	border: 1px solid #a4a4a4;
}
.main-banner .carousel-indicators li.active {
	width: 17px;
	height: 17px;
	margin: -1px 3px;
	background: #ffffff;
	border: 1px solid #ffffff;
}
.main-banner .carousel-caption {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	padding: 10px 10px 30px;
	position: absolute;
	text-align: center;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.15);
}
.main-banner .carousel-caption h3 {
	font-size: 24px;
	color: #ffffff;
	font-weight: 500;
	margin-top: 0;
	text-shadow: none;
	line-height: normal;
	letter-spacing: 0.5px;
}
.main-banner .form-inner {
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0 2px 4px 0 #b7b5b580;
}
.main-banner .form-inner .form-control {
	float: left;
	border: none;
	font-size: 18px;
	color: #666666;
	height: 54px;
	border-radius: 0;
	font-weight: normal;
	line-height: normal;
	background: none;
	letter-spacing: 0.5px;
	padding: 5px 10px 5px 50px;
	border-right: 1px solid #dad9d9;
}
.main-banner .form-inner .form-control:last-child {
	border-right: none;	
}
.main-banner .form-inner .form-control:focus {
	box-shadow: none;
}
.main-banner .form-inner select.form-control {
    appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
}
.main-banner .form-inner .form-control.city {
	width: 25%;
	background: url("../../assets/images/place-icon.png") no-repeat 20px center !important;
}
.main-banner .form-inner .form-control.destination {
	width: 25%;
	background: url("../../assets/images/plane-icon.png") no-repeat 20px center !important;
}
.main-banner .form-inner .form-control.date {
	width: 22%;
	background: url("../../assets/images/date-icon.png") no-repeat 20px center !important;
}
.main-banner .form-inner .form-control.language {
	width: 18%;
	background: url("../../assets/images/language-icon.png") no-repeat 20px center !important;
}
.main-banner .form-inner .form-control.person {
	width: 10%;
	background: url("../../assets/images/person-icon.png") no-repeat 20px center !important;
}
@media (max-width: 1199px) {
	.main-banner .carousel-caption {
		width: 97%;
	}
}
@media (max-width: 991px) {
	.main-banner .carousel-indicators {
		bottom: 0;
	}
	.main-banner .form-inner .form-control {
		font-size: 14px;
		height: 40px;
		width: 20% !important;
	}
}
/*--------------------------Our App-------------------------*/
.our-app {
	background: #ffffff;
	padding: 55px 0 35px;
}
.our-app h1 {
	font-size: 30px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
	padding-top: 15px;
	position: relative;
	padding-bottom: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.our-app h1 span {
	left: 0;
	bottom: 0;
	height: 10px;
	width: 187px;
	position: absolute;
	background: url("../../assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
.our-app h2 {
	font-size: 24px;
	color: #333333;
	font-weight: normal;
	line-height: 1.42;
	padding: 15px 0;
	position: relative;
	margin: 20px 0 15px;
	letter-spacing: 0.8px;
}
.our-app .our-app-left .mobile {
	width: 240px;
}
.our-app .our-app-right {
	padding: 20px 15px 0 50px;
}
.our-app .our-app-right p {
	font-size: 20px;
	color: #333333;
	font-weight: 300;
	line-height: 1.55;
	margin-bottom: 30px;
	letter-spacing: 0.8px;	
}
.our-app .our-app-right .coming-soon {
	width: 100px;
}
.our-app .app-icon a {
	margin: 10px 25px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 180px;
}
@media (max-width: 1199px) {
	.our-app .our-app-left .mobile {
		width: 200px;
	}
	.our-app h1 {
		font-size: 25px;
		padding-bottom: 20px;
	}
	.our-app h2 {
		font-size: 20px;
		padding: 10px 0;
		margin: 10px 0;
	}
	.our-app .our-app-right {
		padding: 20px 15px 0 30px;
	}
	.our-app .our-app-right p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.our-app .app-icon img {
		width: 160px;
	}
}
@media (max-width: 991px) {
	.our-app .our-app-left .mobile {
		width: 160px;
	}
	.our-app h1 {
		font-size: 22px;
		padding-bottom: 15px;
	}
	.our-app h2 {
		font-size: 17px;
		padding: 5px 0;
	}
	.our-app .our-app-right {
		padding: 0 15px;
	}
	.our-app .our-app-right p {
		font-size: 14px;
		margin-bottom: 10px;
		letter-spacing: 0.5px;
	}
	.our-app .app-icon img {
		width: 100px;
	}
}
@media (max-width: 767px) {
	.our-app .our-app-left .mobile {
		width: 140px;
		margin: 65px 0 15px;
	}
	.our-app h1 {
		font-size: 20px;
		margin-top: 10px;
	}
	.our-app .app-icon {
		margin-bottom: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(151, 151, 151, 0.5);
	}
	.our-app .app-icon a {
		margin: 0 10px 10px 10px;
	}
	.our-app .app-icon img {
		width: 90px;
	}
	.our-app .carousel-indicators {
		bottom: 0;
	}
	.our-app .carousel-indicators li {
		width: 10px;
		height: 10px;
		margin: 1px 3px;
	}
	.our-app .carousel-indicators li.active {
		width: 12px;
		height: 12px;
		margin: -2px 2px 0px 2px;
	}
	.our-app .our-app-left,
	.our-app .our-app-right {
		width: 100%;
		float: none;
		text-align: center;
	}
	.our-app h1 span {
		left: 50%;
		width: 110px;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
       background: url("../../assets/images/heading-line.png") no-repeat center bottom / 100% auto;
	}
	.our-app .our-app-left .mobile {
		width: 120px;
	}
	.our-app h2 {
		font-size: 14px;
		line-height: 1.3;
	}
	.our-app .our-app-right p {
		font-size: 12px;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}
@media (max-width: 480px) {
	.our-app .our-app-left .mobile {
		width: 100px;
	}
	.our-app h1 {
		font-size: 18px;
	}
}
/*------------------------Many Guides-----------------------*/
.many-guides {
	padding: 20px 0;
	background-color: #F4F4F4;
}
.many-guides .many-guides-box {
	margin: 80px 10px;
	min-height: 416px;
	padding: 50px 20px;
	border-radius: 4px;
	position: relative;
	background: #ffffff;
	position: relative;
	max-width: 100%;
	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 1s;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
	border: 1px solid rgba(151, 151, 151, 0.5);
	box-shadow: 2px 2px 6px rgba(197, 195, 195, 0.5);
}
.many-guides .many-guides-box img {
	width: 80px;
}
.many-guides .many-guides-box p {
	font-size: 18px;
	color: #666666;
	line-height: 1.67;
	letter-spacing: 0.7px;
}
.many-guides .many-guides-box:hover {
	cursor: pointer;
	border: 1px solid #18afc4;
	transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.many-guides .many-guides-box:hover p {
	color: #333333;
}
@media (max-width: 991px) {
	.many-guides .many-guides-box {
		margin: 30px 0;
		min-height: 399px;
		padding: 20px 15px;
	}
	.many-guides .many-guides-box img {
		width: 70px;
	}
	.many-guides .many-guides-box p {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.many-guides {
		padding: 10px 0;
	}
	.many-guides .many-guides-box {
		margin: 20px 0;
		min-height: auto;
	}
	.many-guides .many-guides-box img {
		width: 60px;
	}
	.many-guides .many-guides-box:hover {
		transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
	}
	.many-guides .many-guides-box p {
		font-size: 15px;
	}
}
@media (max-width: 480px) {
	.many-guides .many-guides-box {
		margin: 15px 0;
		padding: 17px 10px 10px;
		box-shadow: 0 0 3px 2px rgba(197, 195, 195, 0.5);
	}
	.many-guides .many-guides-box img {
		width: 90px;
	}
	.many-guides .many-guides-box img {
		width: 45px;
	}
	.many-guides .many-guides-box p {
		font-size: 13px;
		line-height: 1.4;
	}
}
/*-----------------------How It Works-----------------------*/
.how-it-works {
	background: url("../../assets/images/minar.jpg") no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
}
.how-it-works .container {
	position: relative;
}
.how-it-works .container::before {
	width: 2px;
	height: 430px;
	top: 60%;
	left: 50%;
	content: "";
	position: absolute;
	background: #ffffff;
    transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
	-ms-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
}
.how-it-works .layer {
	padding: 55px 0 35px;
	background: rgba(0, 0, 0, 0.33);
}
.how-it-works .works-box {
	padding: 20px;
	text-align: left;
	min-height: 162px;
	position: relative;
	border-radius: 4px;
	margin: 30px 50px 10px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.how-it-works .works-box.first,
.how-it-works .works-box.third {
	margin-right: 0;
}
.how-it-works .works-box.second {
	margin-left: 0;
}
.how-it-works .works-box.first span,
.how-it-works .works-box.third span,
.how-it-works .works-box.second span {
	left: -106px;
	top: 50%;
	width: 80px;
	height: 80px;
	font-size: 40px;
	color: #ffffff;
	font-weight: 500;
	line-height: 60px;
    border-radius: 50%;
	text-align: center;
	position: absolute;
	background: #18afc4;
	border: 9px solid #ffffff;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.how-it-works .works-box.second span {
	left: auto;
	right: -106px;
	margin-left: 0;
}
.how-it-works .works-box p {
	font-size: 18px;
	color: #ffffff;
	line-height: normal;
	letter-spacing: 0.4px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.how-it-works {
		 background-attachment: scroll !important;
	}
}
@media handheld, only screen and (max-width: 668px) {
	.how-it-works {
		background-attachment: scroll !important;
	}
}
@media (max-width: 991px) {
	.how-it-works .container::before {
		top: 55%;
		height: 480px;
	}
}
@media (max-width: 767px) {
	.how-it-works .layer {
		padding: 55px 0 10px;
	}
	.how-it-works .works-box {
		padding: 15px;
		min-height: auto;
		margin: 15px 0 20px 80px !important;
	}
	.how-it-works .works-box p {
		font-size: 16px;
	}
	.how-it-works .works-box span {
		right: auto;
		margin-left: 0;
		left: -80px !important;
	}
	.how-it-works .works-box.first span,
	.how-it-works .works-box.third span,
	.how-it-works .works-box.second span {
		width: 60px;
		height: 60px;
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 0;
		border: 5px solid #ffffff;
	}
	.how-it-works .container::before {
		top: 53%;
		width: 1px;
		left: 47px;
		height: 280px;
	}
}
@media (max-width: 480px) {
	.how-it-works .works-box {
		padding: 10px 15px;
		margin: 15px 0 20px 60px !important;
	}
	.how-it-works .works-box img {
		width: 90px;
	}
	.how-it-works .works-box p {
		font-size: 13px;
	}
	.how-it-works .works-box span {
		right: auto;
		margin-left: 0;
		left: -60px !important;
	}
	.how-it-works .works-box.first span,
	.how-it-works .works-box.third span,
	.how-it-works .works-box.second span {
		width: 45px;
		height: 45px;
		font-size: 25px;
		line-height: 38px;
		border: 3px solid #ffffff;
	}
	.how-it-works .container::before {
		top: 55%;
		left: 39px;
		height: 290px;
	}
}
/*-----------------------Why Choose Us----------------------*/
.why-choose-us {
	padding: 40px 0 50px;
}
.why-choose-us .outer-box {
	padding: 20px;
	border-radius: 4px;
	margin: 100px 0 65px;
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(95, 93, 93, 0.5);
}
.why-choose-us .inner-box {
	border-radius: 4px;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.why-choose-us p {
	font-size: 20px;
	color: #666666;
	line-height: normal;
	letter-spacing: 0.5px;
}
.why-choose-us .choose-box {
	margin: 60px 0;
	position: relative;
}
.why-choose-us .choose-box img {
	height: 80px;
}
.why-choose-us .choose-box::after {
	width: 1px;
	right: 0;
	top: 50%;
	height: 90%;
	content: "";
	position: absolute;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	background: rgba(196, 196, 196, 0.5);
}
.why-choose-us .choose-box:last-child::after {
	background: none;
}
@media (max-width: 1199px) {
	.why-choose-us .outer-box {
		margin: 50px 0 30px;
	}
	.why-choose-us p {
		font-size: 18px;
	}
}
@media (max-width: 991px) {
	.why-choose-us .choose-box img {
		height: 65px;
	}
	.why-choose-us p {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.why-choose-us {
		padding: 40px 0 20px;
	}
	.why-choose-us .outer-box {
		padding: 15px;
		margin: 30px 0 10px;
		box-shadow: 0 2px 5px 3px rgba(95, 93, 93, 0.5);
	}
	.why-choose-us .choose-box {
		margin: 40px 0 20px;
	}
	.why-choose-us .choose-box:first-child {
		margin-top: 25px;
	}
	.why-choose-us .choose-box img {
		height: 55px;
	}
	.why-choose-us .choose-box::after {
		width: 50%;
		left: 50%;
		right: auto;
		top: auto;
		height: 1px;
		bottom: -19px;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		background: rgba(151, 151, 151, 0.5);
	}
}
@media (max-width: 480px) {
	.why-choose-us .outer-box {
		padding: 10px;
		box-shadow: 0 1px 5px rgba(95, 93, 93, 0.5);
	}
	.why-choose-us p {
		font-size: 14px;
	}
	.why-choose-us .choose-box img {
		height: 50px;
	}
}
/*--------------------------Sign Up-------------------------*/
.signup {
	background: url("../../assets/images/jal-mahal.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.signup .layer {
	padding: 60px 0 15px;
	background: rgba(0, 0, 0, 0.42);
}
.signup .signup-box {
	min-height: 358px;
	margin: 70px 28px 0;
	border-radius: 4px;
	margin-bottom: 40px;
	background: #ffffff;
	padding: 0 40px 20px;
	box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.5);
}
.signup .signup-box .image-box {
	margin-top: -50px;
	text-align: center;
}
.signup .signup-box .image-box img {
	width: 110px;
}
.signup .signup-box .content-box {
	font-size: 16px;
	color: #333333;
	line-height: normal;
	letter-spacing: 0.4px;
}
.signup .signup-box .content-box h4 {
	font-size: 18px;
	color: #333333;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.6px;
}
.signup .buttom-box h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	line-height: normal;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.signup .signup-box .content-box ul {
	padding-left: 20px;
}
.signup .signup-box .content-box ul li {
	padding: 3px 0 3px 10px;
}
.signup .signup-box .content-box .start {
	position: relative;
	padding-left: 60px;
}
.signup .signup-box .content-box .start p {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}
.signup .signup-box .content-box .start:last-child p {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.signup .signup-box .content-box .counts {
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	font-size: 28px;
	color: #18afc4;
	font-weight: normal;
	line-height: 36px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #18afc4;
}
.signup .bottom {
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	line-height: 1.56;
	text-align: center;
	letter-spacing: 0.3px;
}
.signup .bottom img {
	width: 200px;
	border-radius: 7px;
	margin: 10px 0 15px;
	border: 1px solid #ffffff;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.signup {
		 background-attachment: scroll !important;
	}
}
@media handheld, only screen and (max-width: 668px) {
	.signup {
		background-attachment: scroll !important;
	}
}
@media (max-width: 1199px) {
	.signup .bottom img {
		width: 160px;
	}
}
@media (max-width: 991px) {
	.signup {
		font-size: 16px;
	}
	.signup .signup-box .image-box img {
		width: 90px;
	}
	.signup .signup-box {
		padding: 0 20px 20px;
	}
	.signup .bottom img {
		width: 100px;
		border-radius: 3px;
		border: 1px solid rgba(255, 255, 255, 0.7);
	}
}
@media (max-width: 767px) {
	.signup .signup-box {
		min-height: auto;
		margin: 40px 0 50px;
		padding: 15px 20px 20px;
	}
	.signup .signup-box .content-box ul li {
		padding: 3px 0 3px 5px;
	}
	.signup .signup-box .content-box h4 {
		font-size: 16px;
		margin-bottom: 6px;
	}
	.signup .buttom-box h5 {
		font-size: 18px;
		margin-top: -20px;
	}
	.signup .bottom img {
		width: 90px;
		margin: 5px 0;
	}
}
@media (max-width: 640px) {
	.signup {
		font-size: 14px;
		line-height: 1.4;
		text-align: center;
	}
	.signup .signup-box .image-box,
	.signup .signup-box .content-box {
		font-size: 14px;
		text-align: left;
	}
	.signup .signup-box .image-box {
		text-align: center;
	}
	.signup .bottom {
		font-size: 12px;
		text-align: center;
		letter-spacing: 0.7px;
	}
	.signup .signup-box .content-box .counts {
		width: 32px;
		height: 32px;
		font-size: 20px;
		line-height: 25px;
	}
	.signup .signup-box .content-box ul li {
		padding: 1px 0 1px 5px;
		letter-spacing: 0.4px;
	}
	.signup .buttom-box h5 {
		font-size: 16px;
		letter-spacing: 2px;
	}
}
@media (max-width: 480px) {
	.signup .signup-box .image-box,
	.signup .signup-box .content-box {
		font-size: 14px;
		letter-spacing: 0.2px;
	}
	.signup .signup-box .content-box .start {
		padding-left: 40px;
		margin-bottom: 15px;
	}
	.signup .buttom-box h5 {
		font-size: 14px;
	}
}

/*-----------------------Trending----------------------------*/
.trending {
	padding: 40px 0;
	background: #ffffff;
}
.trending .trending-box {
	margin-bottom: 40px;
}
.trending .trending-box p {
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	line-height: normal;
}
.trending .trending-box h3 {
	font-size: 24px;
	color: #666666;
	font-weight: normal;
	line-height: 1.3;
	position: relative;
	padding-bottom: 7px;
}
.trending .trending-box h3 span {
	left: 0;
	bottom: 0;
	height: 6px;
	width: 60px;
	position: absolute;
	background: url("../../assets/images/heading-line.png") no-repeat center bottom / 100% auto;
}
@media (max-width: 767px) {
	.trending {
		padding: 0 0 20px;
	}
	.trending .trending-box {
		margin-bottom: 20px;
	}
	.trending .trending-box h3 {
		font-size: 20px;
		margin: 0 0 10px;
		padding-bottom: 7px;
	}
}
@media (max-width: 480px) {
	.trending .trending-box h3 {
		font-size: 18px;
		padding-bottom: 4px;
	}
}
/*------------------------Contact----------------------------*/
.contact {
	text-align: left;
	position: relative;
	padding: 20px 0 50px;
	background-color: #F4F4F4;
}
.form {
	margin-top: 50px;
}
.contact #msg_span {
	left: 0;
	right: 0;
	top: -35px;
	font-size: 12px;
	color: #008000;
	line-height: 1.3;
	position: absolute;
}
.contact .form-group {
	font-style: normal;
	position: relative;
	margin-bottom: 25px;
}
.contact label.error {
	font-size: 12px;
	color: #f72f2f;
	margin-bottom: 0;
	letter-spacing: 0;
	bottom: -18px;
	left: 0;
	position: absolute;
	font-weight: normal;
}
.contact .form-control {
	font-size: 18px;
	color: #666666;
	height: 44px;
	padding: 0 15px;
	box-shadow: none;
	border-radius: 4px;
	background: #ffffff;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	letter-spacing: 0.6px;
	outline: none !important;
	text-decoration: none !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(196, 196, 196, 0.5);
}
.contact .form-control::-webkit-input-placeholder {
	color: #c7c7c7;
}
.contact .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #c7c7c7;
}
.contact .form-control::-moz-placeholder {/* FF 19+ */    
	color: #c7c7c7;
}
.contact .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #c7c7c7;
}
.contact textarea.form-control {
	resize: none;
	min-height: 150px;
	padding: 10px 13px;
}
.contact .form-control:focus {
	outline: none !important;
	box-shadow: none;
}
.contact-btn {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	line-height: 22px;
	border: none;
	padding: 9px 20px;
	border-radius: 4px;
	background: #18afc4;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	max-width: 33%;
	display: block;
	margin: 5px auto 0;
	border: 1px solid #18afc4;
	box-shadow: 0 0 2px 1px rgba(226, 226, 226, 0.5);
}
.contact-btn:focus {
	color: #ffffff;
}
.contact-btn:hover {
	color: #18afc4;
	background: #ffffff;
}
@media (max-width: 767px) {
	.contact {		
		padding: 0 0 20px;
	}
	.form {
		margin-top: 40px;
	}
	.contact-btn {
		width: 45%;
		max-width: 100%;
	}
	.contact textarea.form-control {
		min-height: 80px;
	}
	.contact .form-control {
		height: 36px;
		line-height: 36px;
		padding: 0 12px;
	}
	.contact .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 36px;
	}
	.contact .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 36px;
	}
	.contact .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 36px;
	}
	.contact .form-control:-moz-placeholder { /* Firefox 18- */
		height: 36px;
	}
}
@media (max-width: 480px) {
	.contact .form-control {
		font-size: 14px;
		height: 32px;
		padding: 0 10px;
		outline: none !important;
		line-height: 32px;
	}
	.contact .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 32px;
	}
	.contact .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 32px;
	}
	.contact .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 32px;
	}
	.contact .form-control:-moz-placeholder { /* Firefox 18- */
		height: 32px;
	}
	.contact  textarea.form-control {
		padding: 5px 10px;
	}
	.contact-btn {
		font-size: 16px;
		color: #ffffff;
		line-height: 24px;
		padding: 4px 15px;
		width: auto;
		max-width: none;
	}
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
   
 
