<section class="main-banner">
    <div id="mainbanner" class="carousel slide carousel-fade" data-ride="carousel"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mainbanner" data-slide-to="0" class="active"></li>&nbsp;
        <li data-target="#mainbanner" data-slide-to="1"></li>&nbsp;
        <li data-target="#mainbanner" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">            
        <div class="item active"> <img src="../../assets/images/slide1.jpg" alt="Odigos Slide 1" class="img-responsive">
        </div>
        <div class="item"> <img src="../../assets/images/slide2.jpg" alt="Odigos Slide 2" class="img-responsive">
        </div>
        <div class="item"> <img src="../../assets/images/slide3.jpg" alt="Odigos Slide 3" class="img-responsive">
        </div>            
      </div>
      <div class="carousel-caption">
        <div class="container">
          <h3>Hire a Guide</h3>
          <form action="" method="post" name="hire-a-guide">
            <div class="form-inner">
              <div class="form-group clearfix">
      <select class="form-control city">
                  <option selected>City</option>
                  <option>Delhi</option>
                  <option>Agra</option>
                  <option>Jaipur</option>
                  <option>Kerala</option>
                </select>
      <select class="form-control destination">
                  <option selected>Destination</option>
                  <option>Red Fort</option>
                  <option>Kutub Minar</option>
                  <option>Lotus Temple</option>
                  <option>Birla Temple</option>
                  <option>Humayun Ka Maqbara</option>
                </select>
                <input class="form-control date" type="date">
      <select class="form-control language">
                  <option selected>English</option>
                  <option>Hindi</option>
                  <option>Franch</option>
                  <option>Russian</option>
                </select>
      <select class="form-control person">
                  <option selected>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                </select>
              </div>
            </div>
            <div><a href="#" class="btn button1">Search</a></div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="our-app">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 our-app-left fadeInLeft wow" data-wow-duration="1s" data-wow-delay="0.5s"><img src="../../assets/images/mobile.png" class="mobile" alt="Odigos" />
            <div class="app-icon visible-xs">
              <a href="https://itunes.apple.com/us/app/odigos-guides/id1389841153?ls=1&mt=8" target="_blank"><img src="../../assets/images/app-store2.png" alt="App Store" id="AppStore" title="App Store" class="img-responsive" /></a><a href="https://play.google.com/store/apps/details?id=com.birdapps.odigostourist" target="_blank"><img src="../../assets/images/google-play.png" alt="Play Store" id="PlayStore" title="Play Store" class="img-responsive" /></a></div>
          </div>
          <div class="col-xs-9 our-app-right fadeInRight wow" data-wow-duration="1s" data-wow-delay="0.8s">
            <h1>Book An Experience You Will Love<span></span></h1>
            <h2>Explore, discover and learn from local hosts on your next visit. Book an expert tour guide, whenever you want, wherever you want.</h2>
            <p>With just a few taps, find and book the best, most reliable tour-guides on Odigos.</p>                  
            <div class="app-icon hidden-xs">
              <a href="https://itunes.apple.com/us/app/odigos-guides/id1389841153?ls=1&mt=8" target="_blank"><img src="../../assets/images/app-store2.png" alt="App Store" id="AppStore" title="App Store" class="img-responsive" /></a><a href="https://play.google.com/store/apps/details?id=com.birdapps.odigostourist" target="_blank"><img src="../../assets/images/google-play.png" alt="Play Store" id="PlayStore" title="Play Store" class="img-responsive" /></a></div>
          </div>
        </div>
      </div>
    </section>

    <section class="many-guides text-center">
        <div class="container">
          <h2 class="main_heading fadeInDown wow" data-wow-duration="1s" data-wow-delay="0.5s">Many Guides. Many Sights.<span></span></h2>
          <div class="row">
            <div class="col-sm-4 bounceIn wow" data-wow-duration="1s" data-wow-delay="0.9s">
              <div class="many-guides-box"> <img src="../../assets/images/50+guides.png" class="img-responsive" alt="50+ Guides" />
                <h2 class="heading1">50+ Guides<span></span></h2>
                <p>Certified tour guides and local experts to show you the sights and sounds of the city.</p>
              </div>
            </div>
            <div class="col-sm-4 bounceIn wow" data-wow-duration="1s" data-wow-delay="1.1s">
              <div class="many-guides-box"> <img src="../../assets/images/75+points.png" class="img-responsive" alt="75+ Points of Interest" />
                <h2 class="heading1">75+ Points of Interest<span></span></h2>
                <p>From Heritage Sites and Monuments to Night Bazaars, and everything in between, there's plenty to chose from.</p>
              </div>
            </div>
            <div class="col-sm-4 bounceIn wow" data-wow-duration="1s" data-wow-delay="1.3s">
              <div class="many-guides-box"> <img src="../../assets/images/650+tours.png" class="img-responsive" alt="650+ Tours Completed" />
                <h2 class="heading1">650+ Tours Completed<span></span></h2>
                <p>Over 650 satisfied tourists have used Odigos to learn and discover.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="how-it-works text-center" id="HowItWorks">
          <div class="layer">
            <div class="container">
              <h2 class="main_heading2 fadeInDown wow" data-wow-duration="1s" data-wow-delay="0.5s">How It Works<span></span></h2>
              <div class="row">
                <div class="col-sm-offset-6 col-sm-6 fadeInDown wow" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="works-box first">
                    <h2 class="heading2">Discover Amazing Guided Tours</h2>
                    <p>Find professional tour guides offering tours all across the country.</p>
                    <span>1</span> </div>
                </div>
                <div class="col-sm-6 fadeInDown wow" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="works-box second">
                    <h2 class="heading2">Book A Tour</h2>
                    <p>Depending on your destination and your language, choose your guide, confirm travel dates and pay online - all through Odigos.</p>
                    <span>2</span> </div>
                </div>
                <div class="col-sm-offset-6 col-sm-6 fadeInDown wow" data-wow-duration="1s" data-wow-delay="1.3s">
                  <div class="works-box third">
                    <h2 class="heading2">Explore</h2>
                    <p>Discover a city, a region, or the entire country thanks to an Odigos guide. Learn more about how to book our tours.</p>
                    <span>3</span> </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="why-choose-us text-center" id="WhyChooseUs">
            <div class="container">
              <h2 class="main_heading fadeInDown wow" data-wow-duration="1s" data-wow-delay="0.5s">Why Choose Us<span></span></h2>
              <div class="outer-box">
                <div class="inner-box">
                  <div class="row">
                    <div class="col-sm-4 choose-box bounceIn wow" data-wow-duration="1s" data-wow-delay="0.7s"> <img src="../../assets/images/selection-process.png" class="img-responsive" alt="Selection Process" />
                      <h3 class="heading1">Selection Process<span></span></h3>
                      <p class="col-md-offset-1 col-md-10">All our guides are certified by the Ministry of Tourism</p>
                    </div>
                    <div class="col-sm-4 choose-box bounceIn wow" data-wow-duration="1s" data-wow-delay="0.9s"> <img src="../../assets/images/secured-payments.png" class="img-responsive" alt="Secured Payments" />
                      <h3 class="heading1">Secured Payments<span></span></h3>
                      <p class="col-md-offset-1 col-md-10">Transactions are handled by Paytm / PayU</p>
                    </div>
                    <div class="col-sm-4 choose-box bounceIn wow" data-wow-duration="1s" data-wow-delay="1.1s"> <img src="../../assets/images/cancellation-system.png" class="img-responsive" alt="Cancellation System" />
                      <h3 class="heading1">Cancellation System<span></span></h3>
                      <p class="col-md-offset-1 col-md-10">Easy cancellation options for unforeseen changes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>   
          <section class="signup">
              <div class="layer">
                <div class="container">
                  <h2 class="main_heading2 fadeInDown wow text-center" data-wow-duration="1s" data-wow-delay="0.5s">Become A Guide With Odigos<span></span></h2>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="signup-box fadeInLeft wow clearfix" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="image-box">
                          <img src="../../assets/images/earn-more.png" alt="Earn More" class="img-responsive">
                        </div>
                        <div class="content-box">
                          <h3 class="heading1 text-center text-uppercase">Earn More<span></span></h3>
                          <h4>Become an Odigos Guide, and earn more income. A few of the requirements to become an Odigos guide are:</h4>
                          <ul>
                            <li>Ministry of Tourism Certified Guide Licence</li>
                            <li>Valid Aadhar Card</li>
                            <li>Police Verification</li>
                            <li>PAN Card</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="signup-box fadeInRight wow clearfix" data-wow-duration="1s" data-wow-delay="0.9s">
                        <div class="image-box">
                          <img src="../../assets/images/easy-to-start.png" alt="Its Easy To Start" class="img-responsive">
                        </div>
                        <div class="content-box">
                          <h3 class="heading1 text-center text-uppercase">Its Easy To Start<span></span></h3>
                          <div class="start">
                            <div class="counts">1</div>
                            <h4>Sign Up Online</h4>
                            <p>Tell us about yourself and your experience,if you have some. If you don't, we'll help you get it.</p>
                          </div>
                          <div class="start">
                            <div class="counts">2</div>
                            <h4>Share some documents</h4>
                            <p>We'll need a copy of the required documents mentioned on the left.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buttom-box fadeInDown wow" data-wow-duration="1s" data-wow-delay="1.1s">
                    <h5>Be Your Own Boss</h5>
                    <p><a href="https://form.jotform.me/81541737982466" target="_blank" class="btn button1">Sign Up Now</a></p>
                  </div>
                  <div class="fadeInDown wow bottom" data-wow-duration="1s" data-wow-delay="1.3s"><h6 class="heading5 text-center">Download App<span></span></h6><a href="https://play.google.com/store/apps/details?id=com.birdapps.odigos" target="_blank"><img src="../../assets/images/google-play.png" alt="Google Store" id="GoogleStore" title="GoogleStore" class="img-responsive" /></a><br>The information provided on this web page is intended for informational purposes only and may not be applicable in your country, region, or city. It is subject to change and may be updated without notice.</div>
                </div>          
              </div>
            </section>
            
            <section class="trending">
                <div class="container">
                  <h2 class="main_heading fadeInDown wow text-center" data-wow-duration="1s" data-wow-delay="0.5s">Trending Destinations<span></span></h2>
                  <div class="row">
                    <div class="col-sm-6 trending-box">
                      <div class="row">
                        <div class="col-sm-5 col-xs-6"><a href="#">
                <img src="../../assets/images/taj-mahal.jpg" alt="Taj Mahal" id="taj-mahal" title="Taj Mahal" class="img-responsive" /></a></div>
                        <div class="col-md-4 col-sm-7 col-xs-6">
                          <h3>Taj Mahal<span></span></h3>
                          <p>"Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eius tempor cidid"</p>
                          <a href="#" class="btn button2">Discover&nbsp; <img src="../../assets/images/arrow.png" alt="arrow" title="Taj Mahal" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 trending-box">
                      <div class="row">
                        <div class="col-sm-5 col-xs-6"><a href="#"><img src="../../assets/images/hawa-mahal.jpg" alt="Hawa Mahal" id="hawa-mahal" title="Hawa Mahal" class="img-responsive" /></a></div>
                        <div class="col-md-4 col-sm-7 col-xs-6">
                          <h3>Hawa Mahal<span></span></h3>
                          <p>"Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eius tempor cidid"</p>
                          <a href="#" class="btn button2">Discover&nbsp; <img src="../../assets/images/arrow.png" alt="arrow" title="Hawa Mahal" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 trending-box">
                      <div class="row">
                        <div class="col-sm-5 col-xs-6"><a href="#"><img src="../../assets/images/red-fort.jpg" alt="Red Fort" id="red-fort" title="Red Fort" class="img-responsive" /></a></div>
                        <div class="col-md-4 col-sm-7 col-xs-6">
                          <h3>Red Fort<span></span></h3>
                          <p>"Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eius tempor cidid"</p>
                          <a href="#" class="btn button2">Discover&nbsp; <img src="../../assets/images/arrow.png" alt="arrow" title="Red Fort" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 trending-box">
                      <div class="row">
                        <div class="col-sm-5 col-xs-6"><a href="#"><img src="../../assets/images/humayuns-tomb.jpg" alt="Humayun Tomb" id="humayuns-tomb" title="Humayun Tomb" class="img-responsive" /></a></div>
                        <div class="col-md-4 col-sm-7 col-xs-6">
                          <h3>Humayun Tomb<span></span></h3>
                          <p>"Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eius tempor cidid"</p>
                          <a href="#" class="btn button2">Discover&nbsp; <img src="../../assets/images/arrow.png" alt="arrow" title="Humayun Tomb" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 text-center"><a href="#" class="btn button3">More Destinations</a></div>
                  </div>
                </div>
              </section>       
              
              <section class="contact" id="contact-outer">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="main_heading fadeInDown wow text-center" data-wow-duration="1s" data-wow-delay="0.5s">Get In Touch<span></span></h2>
                        <form name="contact-form" id="contact-form" class="form fadeInUp wow text-center" data-wow-duration="1s" data-wow-delay="0.7s"  method="post">
                          <span id="msg_span" ></span>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="text" name="txt_name" autocomplete="off" onFocus="remove_contact_msg();" placeholder="NAME" class="form-control" >
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="tel" name="txt_tel" autocomplete="off" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" placeholder="MOBILE" maxlength="10" class="form-control" >
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="email" name="txt_email" autocomplete="off" placeholder="EMAIL" class="form-control" >
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="text" name="txt_city" autocomplete="off" placeholder="CITY" class="form-control" >
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <textarea name="txt_comm" placeholder="COMMENTS" class="form-control"></textarea>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <input type="hidden" name="submit_btn" value="submit_btn">
                              <input type="submit" name="btn_cont" id="btn_cont" value="Submit" class="btn contact-btn">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </section>